<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MailServiceConnectionString" connectionString="V8qJiTD2Qviee56DuWPxfXdNdpFKzkdXWmAZ/Txvj6KeuWw0t9Uo5RsUGL1E3VkhJZeSVtfxTcZVdCgmRLJ5pNRqFJFaacNC/jz3GELboNSHZy0sXg3FH+S75gHvK+Lhr8Uf3AkVk97+BDsurEU9V5IS0x5sJkw3WHnX6ka7PC8="/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="PORT" value="587"/>
    <add key="HOST" value="smtp.gmail.com"/>
    <!--<add key="CREDENTIAL_NAME" value="hotro1.edunet@gmail.com"/>-->
    <!--Aa@123456-->
    <!--<add key="CREDENTIAL_PASS_ENCR" value="A57MUSXwjclwKtBqL7sznOl7CZZF6ScUr1WpM40wDzA="/>-->

    <add key="CREDENTIAL_NAME" value="lienhe@edunet.vn"/>
    <!--iped2018-->
    <add key="CREDENTIAL_PASS_ENCR" value="4ZRl5mDiKele0qvKOEGjv+3WzVHJRpffi9MT3QKhB6g="/>
    <add key="SECURE_KEY" value="djtk0nm3)(*^^^^!!!!==??#$%"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MailService.Service.SendMailService" behaviorConfiguration="debug">
        <endpoint address="" binding="basicHttpBinding" contract="MailService.Service.ISendMailService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SendMailSvcBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>