
<div id="m_datatable" class="">
    <table class="table table-striped table-hover dataTable table-responsive-xl no-footer" style="width:100%" id="table-static">
        <thead>
            <tr class="info">
                <th>LogID</th>
                <th>UserID</th>
                <th>FunctionID</th>
                <th>Description</th>
                <th>CreatedTime</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>ClientIP</th>
            </tr>
        </thead>

    </table>
</div>

@*<div id="m_datatable"></div>*@


<script type="text/javascript">

    var listjson = @Html.Raw(Json.Encode(ViewBag.listjson));
    var datajson = '';
    if (listjson) {
        datajson = JSON.parse(listjson);
    }
    $(document).ready(function() {
        //var options = {
        //    // datasource definition
        //    data: {
        //        type: 'local',
        //        source: datajson,
        //        pageSize: 10
        //    },

        //    // layout definition
        //    layout: {
        //        theme: 'default', // datatable theme
        //        scroll: false, // enable/disable datatable scroll both horizontal and vertical when needed.
        //        // height: 450, // datatable's body's fixed height
        //        footer: false // display/hide footer
        //    },

        //    // column sorting
        //    sortable: true,
        //    pagination: true,

        //    search: {
        //        input: $('#generalSearch')
        //    },

        //    // inline and bactch editing(cooming soon)
        //    // editable: false,

        //    // columns definition
        //    columns: [
        //        {
        //            field: "LogID",
        //            title: "LogID",
        //            width: 60
        //        },
        //        {
        //            field: "UserID",
        //            title: "UserID",
        //            width: 50,
        //            sortable: false,
        //            textAlign: 'center'
        //        }, {
        //            field: "FunctionID",
        //            title: "FunctionID",
        //            width: 80
        //        },{
        //            field: "Description",
        //            title: "Description",
        //            width: 200
        //        },
        //        {
        //            field: "CreatedTime",
        //            title: "CreatedTime",
        //            template: function (row) {
        //                return Utils.formatGetDate(row.CreatedTime, 1);
        //            }
        //        },
        //        {
        //            field: "Username",
        //            title: "Username"
        //        },
        //        {
        //            field: "Fullname",
        //            title: "Fullname"
        //        },
        //        {
        //            field: "ClientIP",
        //            title: "ClientIP"
        //        },
        //    ]
        //};

        //var query = datatable.getDataSourceQuery();

        //$('#m_form_status').on('change', function () {
        //    datatable.search($(this).val(), 'Status');
        //}).val(typeof query.Status !== 'undefined' ? query.Status : '');

        //$('#m_form_type').on('change', function () {
        //    datatable.search($(this).val(), 'Type');
        //}).val(typeof query.Type !== 'undefined' ? query.Type : '');


        //var datatable = $('#m_datatable').mDatatable(options);

        var table = $('#table-static').DataTable({
            dom: 'Bf<"chooseChart">tp',
            lengthMenu: [
                [5, 10, 20, 50, 100],
                ['5 rows', '10 rows', '20 rows', '50 rows', '100 rows']
            ],
            data: datajson,
            columns: [
                { "data": "LogID" },
                { "data": "UserID" },
                { "data": "FunctionID" },
                { "data": "Description" },
                {
                    "data": "CreatedTime",
                    "render": function (data, type, row, meta) {
                        return Utils.formatGetDate(data, 1);
                    }
                },
                { "data": "Username" },
                { "data": "Fullname" },
                { "data": "ClientIP" }
            ],
            buttons: [
                'pageLength',
                {
                    extend: "colvis",
                    text: "<i class='fa fa-eye-slash'></i>Ẩn/hiện cột"
                }
            ],
            "bAutoWidth": true,
            "aaSorting": [[0, 'desc']],
            "bSort": true,
            //"fnDrawCallback": function (oSettings) {
            //    rowspanDTable(oSettings, "table-static", '0');
            //},
            searching: true,
            pageLength: 10,
            reponsive: true
        });
    });


</script>