@{
    ViewBag.Title = "Liên hệ";
}
<section class="bg-gray">
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)">Trang chủ</a></li>
                <li class="active">Liên hệ</li>
            </ol>
        </div>
    </div>
    <div class="banner-title">
        <div class="container">
            <h2 class="text-center while">Liên hệ với Edunet</h2>
        </div>
    </div>
    <div class="box-content page-contact">
        <div class="container">
            <div class="dc_main clearfix" style="padding: 30px 0px;">
                <div class="intense col-lg-6 col-xs-12 col-sm-12 col-md-6 lienhe-col ">
                    <p style="font-weight: bold; color: #484848; padding-top: 15px;"><strong>Địa chỉ</strong></p>
                    <hr>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Tầng 8, nhà C, số 3 Chùa Láng, Đống Đa, Hà Nội</span></p>
                    <p style="padding-top: 15px;"><strong>Điện thoại</strong></p>
                    <hr>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> 0243 3775 7221</p>
                </div>
                <div class="intense col-lg-6 col-xs-12 col-sm-12 col-md-6 lienhe-col ">
                    <p style="font-weight: bold; color: #484848; padding-top: 15px;"><strong>Email</strong></p>
                    <hr>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i>admissions@Edunet.edu.vn</p>
                    <p style="padding-top: 15px;"><strong>Mạng xã hội</strong></p>
                    <hr>
                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="clearfix">
    <div class="col-sm-6 no-padding">
        <div class="about_lienhe">
            <h3>Thông tin liên hệ:</h3>
            <p>Chúng tôi có thể giúp gì cho bạn! Vui lòng liên hệ với chúng tôi</p>
			<p>HÀ NỘI</p>
            <p><strong>A</strong>: Số 3 Chùa Láng, Láng Thượng, Đống Đa, Hà Nội</p>
            <p><strong>P</strong>: 1900 98 99 61</p>
            <p><strong>E</strong>: info@edunet.vn</p>
        </div>
    </div>
    <div class="col-sm-6 no-padding">
		<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2489414140164!2d105.80718531493254!3d21.022722986001693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe4034e47570df438!2sEdunet!5e0!3m2!1svi!2s!4v1557282018190!5m2!1svi!2s" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
	<div class="col-sm-6 no-padding">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.335784584547!2d106.7040388148009!3d10.785573692315365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd73614f4485f13a3!2sEdunet!5e0!3m2!1svi!2s!4v1557282778796!5m2!1svi!2s" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
	<div class="col-sm-6 no-padding">
        <div class="about_lienhe">
            
            <p>THÀNH PHỐ HỒ CHÍ MINH</p>
            <p><strong>A</strong>: Số 7 Nguyễn Bỉnh Khiêm, phường Bến Nghé, Quận 1 </p>
            <p><strong>P</strong>: 1900 98 99 61</p>
            <p><strong>E</strong>: info@edunet.vn</p>
        </div>
    </div>
</div>
        </div>
    </div>
</section>


