@{
    ViewBag.Title = "Lấy lại mật khẩu";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<div class="dc_main">
    <div class="container mt-50 mb-50">
        <div class="row">
            <div class="col-md-9">
                <div class="tab-content">
                    <div id="doimatkhau">
                        <h2 class="member-title">Cập nhật mật khẩu</h2>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <form id="forget-form-update" accept-charset="UTF-8" class="form-horizontal form-flat">
                                    <center style="display:none;" class="center-error"></center>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Mật khẩu mới</label>
                                        <div class="col-sm-9">
                                            <input id="forgetpass_newpass" class="form-control" name="password" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Nhập lại mật khẩu mới</label>
                                        <div class="col-sm-9">
                                            <input id="forgetpass_renewpass" class="form-control" name="password_confirmation" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="button" onclick="utils.forgetPassUpdateData();" class="btn btn-primary">Cập nhật</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#forget-form-update input').keypress(function (e) {
        $('input').removeClass('input-error');
        $(".label-error").remove();
        $('.center-error').hide();
        //if (e.which == 13) {
        //    // enter pressed
        //}
    });
</script>