
@{
    ViewBag.Title = "Quy định";
}

<div class="dc_main container">
    <div id="breadcrumbs" class="breadcrumbs">
        <a href="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)" rel="v:url" property="v:title">Trang chủ</a> »
        <span class="breadcrumb_last">Quy định</span>
    </div>
</div>

<div class="container">
    <div class="intense lead v1_header_title" style="">
        Các quy định về Giáo dục
    </div>
    <p style="text-align: center;"><span style="font-family: Roboto; font-size: 24px; font-style: normal; font-stretch: normal; font-weight: 300;">Văn bản của Bộ GD&amp;ĐT</span></p>
    <div class="dc_main">
        <div style="text-align: justify;">
            <table id="tbl_regular" class=" aligncenter" style="width: 100%;" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 20%;"><span style="font-size: 11pt;">Số ký hiệu</span></th>
                        <th style="text-align: center; width: 68%;"><span style="font-size: 11pt;">Trích yếu</span></th>
                        <th style="width: 12%;"><span style="font-size: 11pt;">Ngày ban hành</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1281">12/2018/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế xét thăng hạng chức danh nghề nghiệp viên chức giảng dạy trong các cơ sở giáo dục đại học công lập</td>
                        <td style="width: 12%;">16/04/2018</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1280">08/2018/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định điều kiện, nội dung, hình thức xét thăng hạng chức danh nghề nghiệp viên chức giảng dạy trong các cơ sở giáo dục đại học công lập</td>
                        <td style="width: 12%;">12/03/2018</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1276">07/2018/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Sửa đổi, bổ sung tên và một số điều của Quy chế tuyển sinh đại học hệ chính quy; tuyển sinh cao đẳng nhóm ngành đào tạo giáo viên hệ chính quy ban hành kèm theo Thông tư số 05/2017/TT-BGDĐT ngày 25 tháng 01 năm 2017 của Bộ trưởng Bộ Giáo dục và Đào tạo</td>
                        <td style="width: 12%;">01/03/2018</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1275">06/2018/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định về việc xác định chỉ tiêu tuyển sinh trình độ trung cấp, cao đẳng các ngành đào tạo giáo viên; trình độ đại học, thạc sĩ, tiến sĩ</td>
                        <td style="width: 12%;">28/02/2018</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1278">05/2018/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Sửa đổi, bổ sung khoản 1 Điều 2, khoản 2 Điều 4, điểm d khoản 1 và đoạn đầu khoản 2 Điều 7 của Quy chế tuyển sinh trung học cơ sở và tuyển sinh trung học phổ thông ban hành kèm theo Thông tư số 11/2014/TT-BGDĐT ngày 18 tháng 4 năm 2014 của Bộ trưởng Bộ Giáo dục và Đào tạo</td>
                        <td style="width: 12%;">28/02/2018</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1273">04/2018/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Sửa đổi, bổ sung một số điều của Quy chế thi trung học phổ thông quốc gia và xét công nhận tốt nghiệp trung học phổ thông ban hành kèm theo Thông tư số 04/2017/TT-BGDĐT ngày 25 tháng 01 năm 2017 của Bộ trưởng Bộ Giáo dục và Đào tạo</td>
                        <td style="width: 12%;">28/02/2018</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1274">O1 /2018/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư ban hành Danh mục thiết bị dạy học tối thiếu môn học giáo dục quốc phòng và an ninh trong các trường tiểu học, trung học cơ sở, trung học phô thông và trường phổ thông có nhiều cấp học (có cấp trung học phố thông), trung cấp sư phạm, cao đẳng sư phạm và cơ sở giáo dục đại học.</td>
                        <td style="width: 12%;">26/01/2018</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1279">02/2018/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy định về quản lý dự án sản xuất thử nghiệm cấp bộ của Bộ Giáo dục và Đào tạo</td>
                        <td style="width: 12%;">26/01/2018</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1271">29/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành quy chế xét thăng hạng chức danh nghề nghiệp giáo viên mầm non, phổ thông công lập</td>
                        <td style="width: 12%;">04/01/2018</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1272">35/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định về quản lý, vận hành và sử dụng hệ thống thông tin quản lý phổ cập giáo dục, xóa mù chữ</td>
                        <td style="width: 12%;">28/12/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1282">33/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành về tiêu chuẩn, quy trình biên soạn, chỉnh sửa sách giáo khoa; tiêu chuẩn, tổ chức cá nhân biên soạn sách giáo khoa; tổ chức và hoạt động của Hội đồng quốc gia thẩm định sách giáo khoa</td>
                        <td style="width: 12%;">22/12/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1269">31/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư hướng dẫn thực hiện công tác tư vấn tâm lý cho học sinh trong trường phổ thông</td>
                        <td style="width: 12%;">18/12/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1270">28/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định tiêu chuẩn, điều kiện, nội dung, hình thức xét thăng hạng chức danh nghề nghiệp giáo viên mầm non, phổ thông công lập</td>
                        <td style="width: 12%;">30/11/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1268">27/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định tiêu chuẩn, nhiệm vụ, quyền hạn và cử giáo viên làm Tổng phụ trách Đội Thiếu niên Tiền phong Hồ Chí Minh trong các cơ sở giáo dục phổ thông công lập</td>
                        <td style="width: 12%;">08/11/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1267">26/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định tổ chức hoạt động văn hóa của học sinh, sinh viên trong các cơ sở giáo dục</td>
                        <td style="width: 12%;">18/10/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1266">25/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Danh mục giáo dục, đào tạo cấp IV trình độ thạc sĩ, tiến sĩ</td>
                        <td style="width: 12%;">10/10/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1265">24/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Danh mục giáo dục, đào tạo cấp IV trình độ đại học</td>
                        <td style="width: 12%;">10/10/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1264">23/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam</td>
                        <td style="width: 12%;">29/09/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1262">22/ 2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy định điều kiện, trình tự, thủ tục mở ngành đào tạo và đình chỉ tuyển sinh, thu hồi quyết định mở ngành đào tạo trình độ đại học</td>
                        <td style="width: 12%;">06/09/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1263">21/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Quy định ứng dụng công nghệ thông tin trong hoạt động bồi dưỡng, tập huấn qua mạng Internet cho giáo viên, nhân viên và cán bộ quản lý giáo dục</td>
                        <td style="width: 12%;">06/09/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1261">20/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định tiêu chuẩn, điều kiện, nội dung, hình thức thi thăng hạng chức danh nghề nghiệp giáo viên mầm non, phổ thông công lập</td>
                        <td style="width: 12%;">18/08/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1258">18/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư quy định điều kiện, nội dung, hình thức thi thăng hạng chức danh nghề nghiệp viên chức giảng dạy trong các cơ sở giáo dục đại học công lập</td>
                        <td style="width: 12%;">21/07/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1257">16/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư hướng dẫn danh mục khung vị trí việc làm và định mức số lượng người làm việc trong các cơ sở giáo dục phổ thông công lập</td>
                        <td style="width: 12%;">12/07/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1260">14/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành quy định tiêu chuẩn, quy trình xây dựng, chỉnh sửa chương trình giáo dục phổ thông; tổ chức và hoạt động của Hội đồng quốc gia thẩm định chương trình giáo dục phổ thông</td>
                        <td style="width: 12%;">06/06/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1256">13/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định về điều kiện để các cơ sở giáo dục được tổ chức bồi dưỡng và cấp ​chứng chỉ bồi dưỡng tiêu chuẩn chức danh nghề nghiệp viên chức giảng dạy trong các cơ sở giáo dục công lập</td>
                        <td style="width: 12%;">23/05/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1255">12/2017/TT-BGDÐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy định về kiểm định chất lượng cơ sở giáo dục đại học</td>
                        <td style="width: 12%;">19/05/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1252">11/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế xét tặng Giải thưởng “Khoa học và công nghệ dành cho giảng viên trẻ trong các cơ sở giáo dục đại học”</td>
                        <td style="width: 12%;">05/05/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1253">10/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế đào tạo từ xa trình độ đại học</td>
                        <td style="width: 12%;">28/04/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1250">09/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Quy định điều kiện, trình tự, thủ tục mở ngành hoặc chuyên ngành đào tạo và đình chỉ tuyển sinh, thu hồi quyết định mở ngành hoặc chuyên ngành đào tạo trình độ thạc sĩ, trình độ tiến sĩ</td>
                        <td style="width: 12%;">04/04/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1249">08/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế tuyển sinh và đào tạo trình độ tiến sĩ</td>
                        <td style="width: 12%;">04/04/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1248">02/VBHN-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư liên tịch Hướng dẫn thực hiện Quyết định số 152/2007/QĐ-TTg ngày 14 tháng 9 năm 2007 của Thủ tướng Chính phủ về học bổng chính sách đối với học sinh, sinh viên học tại các cơ sở giáo dục thuộc hệ thống giáo dục quốc dân</td>
                        <td style="width: 12%;">16/03/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1246">07/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy định về liên kết đào tạo trình độ đại học</td>
                        <td style="width: 12%;">15/03/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1247">06/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế đào tạo vừa làm vừa học trình độ đại học</td>
                        <td style="width: 12%;">15/03/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1239">05/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế tuyển sinh đại học hệ chính quy; tuyển sinh cao đẳng nhóm ngành đào tạo giáo viên hệ chính quy</td>
                        <td style="width: 12%;">25/01/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1236">04/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế thi trung học phổ thông quốc gia và xét công nhận tốt nghiệp trung học phổ thông</td>
                        <td style="width: 12%;">25/01/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1240">01/2017/QĐ-TTg</a></td>
                        <td style="width: 68%;">Quyết định Ban hành Danh mục giáo dục, đào tạo của hệ thống giáo dục quốc dân</td>
                        <td style="width: 12%;">17/01/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1243">03/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Chương trình giáo dục quốc phòng và an ninh trong trường trung cấp sư phạm, cao đẳng sư phạm và cơ sở giáo dục đại học</td>
                        <td style="width: 12%;">13/01/2017</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1242">02/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Chương trình giáo dục quốc phòng và an ninh trong trường trung học phổ thông</td>
                        <td style="width: 12%;">13/01/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1241">01/2017/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Hướng dẫn giáo dục quốc phòng và an ninh trong trường tiểu học, trung học cơ sở</td>
                        <td style="width: 12%;">13/01/2017</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1235">28/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Sửa đổi, bổ sung một số nội dung của Chương trình giáo dục mầm non ban hành kèm theo Thông tư số 17/2009/TT-BGDĐT ngày 25 tháng 7 năm 2009 của Bộ trưởng Bộ Giáo dục và Đào tạo</td>
                        <td style="width: 12%;">30/12/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1233">27/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Quy định thời hạn bảo quản tài liệu chuyên môn nghiệp vụ của ngành Giáo dục</td>
                        <td style="width: 12%;">30/12/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1232">26/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Ban hành Quy chế tuyển sinh, tổ chức bồi dưỡng, xét chọn và phân bổ vào học trình độ đại học; cao đẳng sư phạm, trung cấp sư phạm đối với học sinh hệ dự bị đại học</td>
                        <td style="width: 12%;">30/12/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1231">25/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Bãi bỏ văn bản quy phạm pháp luật của Bộ Giáo dục và Đào tạo</td>
                        <td style="width: 12%;">15/12/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1230">23/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư số 23/2016/TT-BGDĐT Quy định về tổ chức và hoạt động thanh tra các kỳ thi</td>
                        <td style="width: 12%;">13/10/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1226">22/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư Sửa đổi, bổ sung một số điều của Quy định đánh giá học sinh tiểu học ban hành kèm theo Thông tư số 30/2014/TT-BGDĐT ngày 28 tháng 8 năm 2014 của Bộ trưởng Bộ Giáo dục và Đào tạo</td>
                        <td style="width: 12%;">22/09/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1197">20/2016/TTLT-BGDĐT-BQP</a></td>
                        <td style="width: 68%;">Thông tư liên tịch số 20/2016/TTLT-BGDĐT-BQP Hướng dẫn thực hiện pháp luật về nghĩa vụ quân sự và đào tạo nhân viên chuyên môn kỹ thuật cho quân đội</td>
                        <td style="width: 12%;">22/06/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1189">19/2016/TTLT-BGDĐT-BNV</a></td>
                        <td style="width: 68%;">Thông tư liên tịch số 19/2016/TTLT-BGDĐT-BNV Quy định mã số, tiêu chuẩn chức danh nghề nghiệp nhân viên hỗ trợ giáo dục người khuyết tật trong các cơ sở giáo dục công lập</td>
                        <td style="width: 12%;">22/06/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1186">18/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư số 18/2016/TT-BGDĐT ban hành Quy chế xét tặng Giải thưởng “Sinh viên nghiên cứu khoa học”</td>
                        <td style="width: 12%;">22/06/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1191">17/2016/TTLT-BGDĐT-BTTTT</a></td>
                        <td style="width: 68%;">Thông tư liên tịch số 17/2016/TTLT-BGDĐT-BTTTT Quy định tổ chức thi và cấp chứng chỉ ứng dụng công nghệ thông tin</td>
                        <td style="width: 12%;">21/06/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1229">16/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư số 16/2016/TT-BGDĐT về việc Hướng dẫn thực hiện một số nội dung của Quyết định số 72/2014/QĐ-TTg ngày 17 tháng 12 năm 2014 của Thủ tướng Chính phủ quy định việc dạy và học bằng tiếng nước ngoài trong nhà trường và cơ sở giáo dục khác</td>
                        <td style="width: 12%;">18/05/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1148">14/2016/TTLT-BGDĐT-BLĐTBXH-BTC</a></td>
                        <td style="width: 68%;">Thông tư liên tịch số 14/2016/TTLT-BGDĐT-BLĐTBXH-BTC</td>
                        <td style="width: 12%;">05/05/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1149">13/2016/TTLT-BGDĐT-BVHTTDL-BLĐTBXH-BCA</a></td>
                        <td style="width: 68%;">Thông tư liên tịch số 13/2016/TTLT-BGDĐT-BVHTTDL-BLĐTBXH-BCA</td>
                        <td style="width: 12%;">05/05/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=900">12/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư số 12/2016/TT-BGDĐT quy định về ứng dụng công nghệ thông tin trong quản lý, tổ chức đào tạo qua mạng</td>
                        <td style="width: 12%;">22/04/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=901">11/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư số 11/2016/TT-BGDĐT ban hành Quy định về quản lý đề tài khoa học và công nghệ cấp bộ của Bộ GD&amp;ĐT</td>
                        <td style="width: 12%;">11/04/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=902">10/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư số 10/2016/TT-BGDĐT ngày 05/4/2016 của Bộ Giáo dục và Đào tạo</td>
                        <td style="width: 12%;">05/04/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1150">09/2016/TTLT-BGDĐT-BTC-BLĐTBXH</a></td>
                        <td style="width: 68%;">Thông tư liên tịch số 09/2016/TTLT-BGDĐT-BTC-BLĐTBXH</td>
                        <td style="width: 12%;">30/03/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=903">08/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư số 08/2016/TT-BGDĐT</td>
                        <td style="width: 12%;">28/03/2016</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=1182">01/VBHN-BGDĐT</a></td>
                        <td style="width: 68%;">Văn bản hợp nhất số 01/VBHN-BGDĐT về Quy chế thi trung học phổ thông quốc gia</td>
                        <td style="width: 12%;">25/03/2016</td>
                    </tr>
                    <tr class="quy_dinh_bg">
                        <td style="width: 20%;"><a href="https://www.moet.gov.vn/van-ban/vanban/Pages/chi-tiet-van-ban.aspx?ItemID=904">07/2016/TT-BGDĐT</a></td>
                        <td style="width: 68%;">Thông tư số 07/2016/TT-BGDĐT</td>
                        <td style="width: 12%;">22/03/2016</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="wp-pagenavi">
            <ul class="pagination" id="regular_page"></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#regular_page').paging(59,
            {
                format: '[< ncnnn >]',
                perpage: 20, //
                onSelect: function (page) {
                    $('#tbl_regular').find('tbody tr').hide().slice((page - 1) * 20, page * 20).show();
                },
                onFormat: function (type) {
                    switch (type) {
                        case 'block': // n and c
                            if (!this.active)
                                return '<a class = "page larger" href="javascript:;">' + this.value + '</a>';
                            else if (this.value != this.page)
                                return '<a class = "page larger" href="javascript:;">' + this.value + '</a>';
                            return '<a class = "page larger current" href="javascript:;" >' +
                                this.value +
                                '</a>';
                        case 'next': // >
                            return '';
                        case 'prev': // <
                            return '';
                        case 'first': // [
                            return '<a class="first" href="#">« First</a>';
                        case 'last': // ]
                            return '<a class="last" href="#">Last »</a>';
                    }
                }
            });
    });
</script>
