<div class="dc_main container clearfix">
    <div class="dc_sskh">
        <h2 class="dc_title_h2">Các khóa học tương tự</h2>
        <div class="dc_sskh_danhsach">
            <div class="dc_sskh_list">
                <div class="dc_sskh_row dc_sskh_row1" data-label="Trường đại học">
                    <img width="39" height="44" src="images/dong-an-logo-44.png" class="attachment-thumb90x90 size-thumb90x90" alt="">
                    <h4> Cao Đẳng Công Nghệ Cao Đồng An	</h4>
                </div>
                <div class="dc_sskh_row dc_sskh_row2" data-label="Học phí">
                    <strong>Học phí:</strong>
                    30.000.000 ₫
                </div>
                <div class="dc_sskh_row dc_sskh_row3" data-label="Thời gian">
                    <strong>Thời gian học:</strong>2,5 năm</div>
                <div class="dc_sskh_row dc_sskh_row4" data-label="Đánh giá">
                    <strong>Đánh giá:</strong>
                    <span class="v1_ss_dgia">0</span>
                </div>
                <div class="dc_sskh_row dc_sskh_row5" data-label="Chi tiết">
                </div>
            </div>
            <div class="dc_sskh_list">
                <div class="dc_sskh_row dc_sskh_row1" data-label="Trường đại học">
                    <img width="39" height="44" src="images/dong-an-logo-44.png" class="attachment-thumb90x90 size-thumb90x90" alt="">
                    <h4> Cao Đẳng Công Nghệ Cao Đồng An	</h4>
                </div>
                <div class="dc_sskh_row dc_sskh_row2" data-label="Học phí">
                    <strong>Học phí:</strong>
                    30.000.000 ₫
                </div>
                <div class="dc_sskh_row dc_sskh_row3" data-label="Thời gian">
                    <strong>Thời gian học:</strong>2,5 năm</div>
                <div class="dc_sskh_row dc_sskh_row4" data-label="Đánh giá">
                    <strong>Đánh giá:</strong>
                    <span class="v1_ss_dgia">0</span>
                </div>
                <div class="dc_sskh_row dc_sskh_row5" data-label="Chi tiết">
                </div>
            </div>
            <div class="dc_sskh_list">
                <div class="dc_sskh_row dc_sskh_row1" data-label="Trường đại học">
                    <img width="39" height="44" src="images/dong-an-logo-44.png" class="attachment-thumb90x90 size-thumb90x90" alt="">
                    <h4> Cao Đẳng Công Nghệ Cao Đồng An	</h4>
                </div>
                <div class="dc_sskh_row dc_sskh_row2" data-label="Học phí">
                    <strong>Học phí:</strong>
                    30.000.000 ₫
                </div>
                <div class="dc_sskh_row dc_sskh_row3" data-label="Thời gian">
                    <strong>Thời gian học:</strong>2,5 năm</div>
                <div class="dc_sskh_row dc_sskh_row4" data-label="Đánh giá">
                    <strong>Đánh giá:</strong>
                    <span class="v1_ss_dgia">0</span>
                </div>
                <div class="dc_sskh_row dc_sskh_row5" data-label="Chi tiết">
                </div>
            </div>
            <div class="dc_sskh_list">
                <div class="dc_sskh_row dc_sskh_row1" data-label="Trường đại học">
                    <img width="39" height="44" src="images/dong-an-logo-44.png" class="attachment-thumb90x90 size-thumb90x90" alt="">
                    <h4> Cao Đẳng Công Nghệ Cao Đồng An	</h4>
                </div>
                <div class="dc_sskh_row dc_sskh_row2" data-label="Học phí">
                    <strong>Học phí:</strong>
                    30.000.000 ₫
                </div>
                <div class="dc_sskh_row dc_sskh_row3" data-label="Thời gian">
                    <strong>Thời gian học:</strong>2,5 năm</div>
                <div class="dc_sskh_row dc_sskh_row4" data-label="Đánh giá">
                    <strong>Đánh giá:</strong>
                    <span class="v1_ss_dgia">0</span>
                </div>
                <div class="dc_sskh_row dc_sskh_row5" data-label="Chi tiết">
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>