
@using Topcourse.DataAccess.DTO

@{
    var permission = ((UserFunction)Session[Topcourse.Utility.SessionsManager.SESSION_PERMISSION]);
}

<div class="m-portlet m-portlet--accent m-portlet--head-sm" data-portlet="true" id="m_portlet_tools_1">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-placeholder-2"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Quản trị giao dịch thanh toán
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="" data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Collapse"><i class="la la-angle-down"></i></a>
                </li>
                <li class="m-portlet__nav-item">
                    <a href="" data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Reload"><i class="la la-refresh"></i></a>
                </li>
                @*<li class="m-portlet__nav-item">
                        <a href="#" data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Fullscreen"><i class="la la-expand"></i></a>
                    </li>*@
                @*<li class="m-portlet__nav-item">
                        <a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Remove"><i class="la la-close"></i></a>
                    </li>*@
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m-portlet m-portlet--mobile">

            <div class="m-portlet__body">
                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="form-group m-form__group row align-items-center">
                                
                                <div class="col-md-3">
                                    <div class="m-form__group">
                                        <input type="text" class="form-control" id="m_daterangepicker_1" value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy HH:mm:ss") - @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")" readonly="" placeholder="Select time">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="m-form__group m-form__group--inline">
                                        <div class="m-form__control">
                                            <select class="form-control" id="ddlStatus" data-width="100%">
                                                <option value="99">Trạng thái</option>
                                                <option value="0">Khởi tạo</option>
                                                <option value="1">Thành công</option>
                                                <option value="2">Thất bại</option>
                                                <option value="3">Nghi vấn</option>
                                                <option value="4">Đã gửi yêu cầu sang VNP</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>

                                <div class="col-md-3">
                                    <div class="m-form__group m-form__group--inline">
                                        <div class="m-form__control">
                                            <select class="form-control" id="ddlCourseType" data-width="100%">
                                                <option value="0">Loại khóa</option>
                                                <option value="1">Khóa ngắn</option>
                                                <option value="2">Khóa dài</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>

                                <div class="col-lg-3" style="float: right">
                                    <input type="button" id="btnSearch" class="btn btn-outline-info" value="Tìm kiếm" style="margin: 0">
                                </div>
                            </div>

                            <div class="form-group m-form__group row align-items-center">

                            </div>
                        </div>

                    </div>
                </div>

                <div id="Partial">

                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_OrderDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 1200px;">
        <div class="modal-content">
            <div id="Partial_OrderDetail"></div>

        </div>
    </div>
</div>



<div class="modal fade" id="m_Confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cập nhật giao dịch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-portlet m-portlet--tab">
                    <form class="m-form m-form--fit m-form--label-align-right" id="formChangePass">
                        <div class="m-portlet__body">
                            <input type="hidden" id="value_orderId" value="" />
                            <input type="hidden" id="value_status" value="" />
                            
                            <div class="form-group m-form__group row">
                                <label class="col-lg-7 col-form-label" id="txt_Error"></label>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">Tài khoản:</label>
                                <div class="col-lg-6">
                                    <input class="form-control m-input maxlength-handler" disabled="disabled" type="text" id="value_Username" maxlength="30" name="UserName" value="">
                                </div> 
                            </div>
                            
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">Tổng tiền:</label>
                                <div class="col-lg-6">
                                    <input class="form-control m-input maxlength-handler" disabled="disabled" type="text" id="value_Amount" maxlength="30" name="Amount" value="">
                                </div>
                            </div>
                            
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">Tên khóa:</label>
                                <div class="col-lg-6">
                                    <input class="form-control m-input maxlength-handler" disabled="disabled" type="text" id="value_Title" maxlength="200" name="Title" value="">
                                </div>
                            </div>

                            <div class="form-group m-form__group row" id="div_TransRefID">
                                <label class="col-lg-4 col-form-label">TransRefID:<span class="required"></span></label>
                                <div class="col-lg-6">
                                    <input class="form-control m-input maxlength-handler" type="text" id="txtTransRefID" maxlength="20" name="TransRefID" value="" placeholder="TransRefID">
                                </div>
                            </div>

                        </div>

                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <div class="row">
                                    <div class="col-4">
                                    </div>
                                    <div class="col-7">
                                        <button type="submit" id="btnChange" onclick="UpdateStatusOrder();" class="btn btn-success">Duyệt</button>
                                        <button type="reset" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var orderCheck;
    $(document).ready(function () {

        var demo1 = function () {
            // This portlet is lazy initialized using data-portlet="true" attribute. You can access to the portlet object as shown below and override its behavior
            var portlet = $('#m_portlet_tools_1').mPortlet();

            //== Toggle event handlers
            portlet.on('beforeCollapse', function (portlet) {
                //setTimeout(function () {
                //    toastr.info('Before collapse event fired!');
                //}, 100);
            });

            portlet.on('afterCollapse', function (portlet) {
                //setTimeout(function () {
                //    toastr.warning('Before collapse event fired!');
                //}, 2000);
            });

            portlet.on('beforeExpand', function (portlet) {
                //setTimeout(function () {
                //    toastr.info('Before expand event fired!');
                //}, 100);
            });

            portlet.on('afterExpand', function (portlet) {
                //setTimeout(function () {
                //    toastr.warning('After expand event fired!');
                //}, 2000);
            });

            //== Remove event handlers
            portlet.on('beforeRemove', function (portlet) {
                toastr.info('Before remove event fired!');

                return confirm('Are you sure to remove this portlet ?');  // remove portlet after user confirmation
            });

            portlet.on('afterRemove', function (portlet) {
                //setTimeout(function () {
                //    toastr.warning('After remove event fired!');
                //}, 2000);
            });

            //== Reload event handlers
            portlet.on('reload', function (portlet) {
                //toastr.info('Leload event fired!');

                mApp.block(portlet.getSelf(), {
                    overlayColor: '#ffffff',
                    type: 'loader',
                    state: 'accent',
                    opacity: 0.3,
                    size: 'lg'
                });

                // update the content here

                setTimeout(function () {
                    mApp.unblock(portlet.getSelf());
                    GetList();
                }, 2000);
            });

            //== Reload event handlers
            portlet.on('afterFullscreenOn', function (portlet) {
                debugger;
                //toastr.info('After fullscreen on event fired!');
                var scrollable = portlet.getBody().find('> .m-scrollable');
                scrollable.data('original-height', scrollable.data('max-height'));
                scrollable.css('height', '100%');
                scrollable.css('max-height', '100%');
                mApp.initScroller(scrollable, {});
            });

            portlet.on('afterFullscreenOff', function (portlet) {
                //toastr.warning('After fullscreen off event fired!');

                var scrollable = portlet.getBody().find('> .m-scrollable');

                scrollable.css('height', scrollable.data('original-height'));
                scrollable.data('max-height', scrollable.data('original-height'));
                mApp.initScroller(scrollable, {});
            });
        }
        demo1();

        $('#m_daterangepicker_1').daterangepicker({
            buttonClasses: 'm-btn btn',
            applyClass: 'btn-primary',
            cancelClass: 'btn-secondary',
            timePicker: true,
            //timePickerIncrement: 30,
            locale: {
                format: 'DD/MM/YYYY HH:mm:ss'
            }
        });

        GetList();
        $("#btnSearch").click(function () {
            GetList();
        });

        $("#ddlStatus").change(function () {
            GetList();
        });
    });

    function OrderDetail(id) {
        var parameters = {
            orderId: id
        };
        var urlRequestAns = Utils.UrlRoot + "UserAccount/PaymentOrder_Detail";
        $.ajax({
            type: 'GET',
            url: urlRequestAns,
            data: parameters,
            success: function (data) {
                if (data.redirecturl) {
                    var url = location.hash;
                    window.location.href = data.redirecturl + "?UrlReturn=" + url.substring(2, url.length);;
                } else {
                    $("#Partial_OrderDetail").html(data);
                    Utils.UnLoading();
                    $('#m_OrderDetail').modal('show');
                }
            },
            error: function () {
                Utils.UnLoading();
            }
        });
    };

    function GetList() {
        var parameters = {
            'fromDate': $('#m_daterangepicker_1').data('daterangepicker').startDate.format('DD/MM/YYYY HH:mm:ss'),
            'toDate': $('#m_daterangepicker_1').data('daterangepicker').endDate.format('DD/MM/YYYY HH:mm:ss'),
            'status': $('#ddlStatus :selected').val(),
            'courseType': $('#ddlCourseType :selected').val()
        };
        Utils.Loading();
        var urlRequestAns = Utils.UrlRoot + "UserAccount/PaymentOrder_Partial";
        $.ajax({
            type: 'GET',
            url: urlRequestAns,
            data: parameters,
            success: function (data) {
                if (data.redirecturl) {
                    var url = location.hash;
                    window.location.href = data.redirecturl + "?UrlReturn=" + url.substring(2, url.length);;
                } else {
                    $("#Partial").html(data);
                    Utils.UnLoading();
                }
            },
            error: function () {
                Utils.UnLoading();
            }
        });
    };

    function CheckOrder(id, status, username, amount, title) {
        $('#value_orderId').val(id);
        $('#value_Username').val(username);
        $('#value_Amount').val(Utils.formatMoney(amount));
        $('#value_Title').val(title);

        var parameters = {
            id: id
        };
        var urlRequestAns = Utils.UrlRoot + "UserAccount/PaymentOrder_CheckOrder";
        Utils.Loading();
        $.ajax({
            type: 'POST',
            url: urlRequestAns,
            data: parameters,
            success: function (data) {
                console.log(data);
                orderCheck = data;
                $('#txtTransRefID').val(data.TransRefID);
                Utils.UnLoading();
                if (data.redirecturl) {
                    var url = location.hash;
                    window.location.href = data.redirecturl + "?UrlReturn=" + url.substring(2, url.length);;
                } else {
                    if (data.ResponseCode == 0) { // thành công
                        $('#txt_Error').text('Giao dịch đã thành công bên VNpay.');
                        $('#btnChange').text('Duyệt giao dịch');
                        $('#value_status').val(1);
                        $('#div_TransRefID').show();
                    }
                    else if (data.ResponseCode == 99) {
                        toastr.error("Không tìm thấy giao dịch. Vui lòng thử lại sau");
                        return;
                    }
                    else { // thất bại
                        $('#txt_Error').text('Giao dịch bên VNpay không thành công.');

                        $('#btnChange').text('Hủy giao dịch');
                        $('#value_status').val(2);
                        $('#div_TransRefID').hide();
                    }
                    $('#m_Confirm').modal('show');
                }
            },
            error: function () {
                Utils.UnLoading();
            }
        });
    };

    function UpdateStatusOrder() {
        if (orderCheck == null ) {
            toastr.error("Không tìm thấy giao dịch cần xử lý");
            return;
        }

        var parameter = {
            OrderID: orderCheck.OrderID,
            Status: $('#value_status').val(),
            TransRefID: $('#txtTransRefID').val(),
            BankCode: orderCheck.BankCode,
            BankTransNo: orderCheck.BankTransNo,
            CardType: orderCheck.CardType,
            PayDate: orderCheck.PayDate,
            PayResponseCode: orderCheck.PayResponseCode,
            TmnCode: orderCheck.TmnCode
        };

        $('#btnChange').addClass('m-loader m-loader--right m-loader--light').attr('disabled', true);
        $.ajax({
            type: 'POST',
            url: Utils.UrlRoot + "UserAccount/PaymentOrder_UpdateStatus",
            data: parameter,
            success: function (data) {
                $('#btnChange').removeClass('m-loader m-loader--right m-loader--light').attr('disabled', false);
                if (data.redirecturl) {
                    var url = location.hash;
                    window.location.href = data.redirecturl + "?UrlReturn=" + url.substring(2, url.length);;
                } else {
                    if (data.ResponseCode >= 0) {
                        toastr.success(data.Description);
                        GetList();
                        setTimeout(function () {
                            $('#m_Confirm').modal('hide');
                        }, 4000);
                    }
                    else {
                        toastr.error(data.Description);
                        return;
                    }
                }
            }
        });

    }

</script>
