<div class="dc_filter">
    <form data-sf-form-id="2145"  method="post" class="searchandfilter" id="search-filter-form-2145" >
        <ul class="dc_filter_2145">
            <li class="sf-field-search" data-sf-field-name="search" data-sf-field-type="search" data-sf-field-input-type="">
                <label>
                    <span class="screen-reader-text">goi_y</span>
                    <input placeholder="Địa điểm / Tên trường" name="_sf_search[]" class="sf-input-text" type="text" value="" title="goi_y" list="goi_y">
                </label>
            </li>
            <li class="sf-field-post-meta-khoahoc_nganhhoc">
                <label>
                    <select name="_sfm_khoahoc_nganhhoc[]" class="sf-input-select" title="">

                        <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Ngành học</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_01">Quản trị kinh doanh</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_02">Công nghệ thông tin</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_03">Tài chính - Kinh tế</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_04">Kế toán - Luật</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_05">Du lịch - Khách sạn</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_06">Marketing</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_07">Thời trang</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_08">Ngoại ngữ</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_09">Quản trị dự án</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_10">Điện - Điện tử</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_11">Cơ khí - Xây dựng</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_12">Y tế - Sinh học</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_13">Quản lý tài nguyên - môi trường</option>
                    </select>
                </label>
            </li>
            <li class="sf-field-post-meta-khoahoc_bachoc" >
                <label>
                    <select name="_sfm_khoahoc_bachoc[]" class="sf-input-select" title="">

                        <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Bậc học</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_chungchi">Chứng chỉ</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_cunhan">Cử nhân</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_kysu">Kỹ sư</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_thacsi">Thạc sĩ</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_tiensi">Tiến sĩ</option>
                    </select>
                </label>
            </li>
            <li class="sf-field-post-meta-khoahoc_hocphi" >
                <h4>Học phí</h4>
                <div data-start-min="0" data-start-max="2235000000" data-min="0" data-max="2235000000" data-step="1000000" data-decimal-places="0" data-thousand-seperator="" data-decimal-seperator="." data-display-values-as="text" data-sf-field-name="_sfm_khoahoc_hocphi" class="sf-meta-range sf-meta-range-slider">
                    <span class="sf-range-min sf-text-number">0</span>
                    <span class="sf-range-values-seperator"> - </span>
                    <span class="sf-range-max sf-text-number">2235</span>
                    <div class="meta-slider noUi-target noUi-ltr noUi-horizontal noUi-background">
                        <div class="noUi-base">
                            <div class="noUi-origin noUi-connect" style="left: 0%;">
                                <div class="noUi-handle noUi-handle-lower"></div>
                            </div>
                            <div class="noUi-origin noUi-background" style="left: 100%;">
                                <div class="noUi-handle noUi-handle-upper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="sf-field-post-meta-khoahoc_loaihinh" >
                <h4>Loại hình đào tạo</h4>
                <ul class="">
                    <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_loaihinh[]" checked="checked" id="sf-input-e00508a1e9a5a09f7de389c2eb65404f">
                        <label class="sf-label-radio" for="sf-input-e00508a1e9a5a09f7de389c2eb65404f">Tất cả loại hình</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="khoahoc_loaihinh_01" name="_sfm_khoahoc_loaihinh[]" id="sf-input-c45bf53819e10d359e97d2ff48ce01be">
                        <label class="sf-label-radio" for="sf-input-c45bf53819e10d359e97d2ff48ce01be">Đào tạo liên kết quốc tế</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="khoahoc_loaihinh_02" name="_sfm_khoahoc_loaihinh[]" id="sf-input-72669cd25ca11796efc35442575829d6">
                        <label class="sf-label-radio" for="sf-input-72669cd25ca11796efc35442575829d6">Đào tạo trong nước</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="khoahoc_loaihinh_03" name="_sfm_khoahoc_loaihinh[]" id="sf-input-942f2bbefc58fe2705710ff5e9607c57">
                        <label class="sf-label-radio" for="sf-input-942f2bbefc58fe2705710ff5e9607c57">Du học</label>
                    </li>
                </ul>
            </li>
            <li class="sf-field-post-meta-khoahoc_hinhthuc" data-sf-field-name="_sfm_khoahoc_hinhthuc" data-sf-field-type="post_meta" data-sf-field-input-type="radio" data-sf-meta-type="choice">
                <h4>Hình thức đào tạo</h4>
                <ul class="">
                    <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_hinhthuc[]" checked="checked" id="sf-input-ef7595e373959d31b1c8f33b25e818a1">
                        <label class="sf-label-radio" for="sf-input-ef7595e373959d31b1c8f33b25e818a1">Tất cả Hình thức</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="hinhthuc_01" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-5a5fb16dc5f87d5da64db92439eee713">
                        <label class="sf-label-radio" for="sf-input-5a5fb16dc5f87d5da64db92439eee713">Chính quy</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="hinhthuc_02" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-788da01a1b52e9bb1141e61fc4997ef2">
                        <label class="sf-label-radio" for="sf-input-788da01a1b52e9bb1141e61fc4997ef2">Từ xa / trực tuyến</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="hinhthuc_03" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-85bdca1f71ed9820ec0d7d403245ea54">
                        <label class="sf-label-radio" for="sf-input-85bdca1f71ed9820ec0d7d403245ea54">Tại chức</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="hinhthuc_04" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-e15a6e4149e137beb99e7ebd91481b91">
                        <label class="sf-label-radio" for="sf-input-e15a6e4149e137beb99e7ebd91481b91">Liên thông</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="hinhthuc_05" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-dafbce0ef8034dc6fc1168f5a531ac5b">
                        <label class="sf-label-radio" for="sf-input-dafbce0ef8034dc6fc1168f5a531ac5b">Văn bằng 2</label>
                    </li>
                </ul>
            </li>
            <li class="sf-field-post-meta-khoahoc_nhaphoc">
                <label>
                    <select name="_sfm_khoahoc_nhaphoc[]" class="sf-input-select" title="">

                        <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Thời gian nhập học</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 1">Tháng 1</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 10">Tháng 10</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 11">Tháng 11</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 12">Tháng 12</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 2">Tháng 2</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 3">Tháng 3</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 4">Tháng 4</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 5">Tháng 5</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 5, Tháng 10">Tháng 5, Tháng 10</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 6">Tháng 6</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 7">Tháng 7</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 8">Tháng 8</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 9">Tháng 9</option>
                    </select>
                </label>
            </li>
            <li class="sf-field-post-meta-khoahoc_nhaphoc_note" >
                <h4>Yêu cầu nhập học</h4>
                <ul class="">
                    <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_nhaphoc_note[]" checked="checked" id="sf-input-c391f9b1176f9fe5b6328fa587cd69af">
                        <label class="sf-label-radio" for="sf-input-c391f9b1176f9fe5b6328fa587cd69af">Tất cả yêu cầu</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="Thi tuyển" name="_sfm_khoahoc_nhaphoc_note[]" id="sf-input-acfe63db3a608e60fab605fc0eac383f">
                        <label class="sf-label-radio" for="sf-input-acfe63db3a608e60fab605fc0eac383f">Thi tuyển</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="Thi tuyển đầu vào" name="_sfm_khoahoc_nhaphoc_note[]" id="sf-input-e8fbb962ed2afe1b2446c1ebed8e0ea9">
                        <label class="sf-label-radio" for="sf-input-e8fbb962ed2afe1b2446c1ebed8e0ea9">Thi tuyển đầu vào</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="Thi tuyển; Xét tuyển hồ sơ" name="_sfm_khoahoc_nhaphoc_note[]" id="sf-input-b442c1d95a0268e9b9ac0bdd6fd282aa">
                        <label class="sf-label-radio" for="sf-input-b442c1d95a0268e9b9ac0bdd6fd282aa">Thi tuyển; Xét tuyển hồ sơ</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="Xét tuyển hồ sơ" name="_sfm_khoahoc_nhaphoc_note[]" id="sf-input-821730d61831be9fd37b30169821f864">
                        <label class="sf-label-radio" for="sf-input-821730d61831be9fd37b30169821f864">Xét tuyển hồ sơ</label>
                    </li>
                </ul>
            </li>
            <li class="sf-field-post-meta-khoahoc_loaihinhtruong" >
                <h4>Loại hình trường</h4>
                <ul class="">
                    <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_loaihinhtruong[]" checked="checked" id="sf-input-526531e09706d80fbdf6b12f0d835332">
                        <label class="sf-label-radio" for="sf-input-526531e09706d80fbdf6b12f0d835332">Tất cả loại hình</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="khoahoc_loaihinhtruong_01" name="_sfm_khoahoc_loaihinhtruong[]" id="sf-input-c7cfaa163487f478e31d34c9180b4221">
                        <label class="sf-label-radio" for="sf-input-c7cfaa163487f478e31d34c9180b4221">Công lập</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="khoahoc_loaihinhtruong_02" name="_sfm_khoahoc_loaihinhtruong[]" id="sf-input-4818560dcaeebd8677de481e8bdd949b">
                        <label class="sf-label-radio" for="sf-input-4818560dcaeebd8677de481e8bdd949b">Bán công</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="khoahoc_loaihinhtruong_03" name="_sfm_khoahoc_loaihinhtruong[]" id="sf-input-c5ead07302d8ad501f497ed2ccf2d2d0">
                        <label class="sf-label-radio" for="sf-input-c5ead07302d8ad501f497ed2ccf2d2d0">Dân lập</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="khoahoc_loaihinhtruong_04" name="_sfm_khoahoc_loaihinhtruong[]" id="sf-input-b637761e2f709f5fc0c866748fe62f87">
                        <label class="sf-label-radio" for="sf-input-b637761e2f709f5fc0c866748fe62f87">Tư thục</label>
                    </li>
                </ul>
            </li>
            <li class="sf-field-tag" >
                <h4>Địa chỉ đào tạo</h4>
                <ul data-operator="and" class="">
                    <li class="sf-level-0 sf-item-103" data-sf-count="2" data-sf-depth="0">
                        <input class="sf-input-checkbox" type="checkbox" value="singapore" name="_sft_post_tag[]" id="sf-input-21665de91988e8439fead0b4c2ef2f69">
                        <label class="sf-label-checkbox" for="sf-input-21665de91988e8439fead0b4c2ef2f69">Singapore</label>
                    </li>
                    <li class="sf-level-0 sf-item-96" data-sf-count="0" data-sf-depth="0">
                        <input class="sf-input-checkbox" type="checkbox" value="duc" name="_sft_post_tag[]" id="sf-input-84c4740cde2a0d2236db9cdf554d67a3">
                        <label class="sf-label-checkbox" for="sf-input-84c4740cde2a0d2236db9cdf554d67a3">Đức</label>
                    </li>
                    <li class="sf-level-0 sf-item-95" data-sf-count="0" data-sf-depth="0">
                        <input class="sf-input-checkbox" type="checkbox" value="du-hoc" name="_sft_post_tag[]" id="sf-input-e80d22b9ef48fb7193861208e06fccdc">
                        <label class="sf-label-checkbox" for="sf-input-e80d22b9ef48fb7193861208e06fccdc">Du Học</label>
                    </li>
                    <li class="sf-level-0 sf-item-93" data-sf-count="5" data-sf-depth="0">
                        <input class="sf-input-checkbox" type="checkbox" value="hoa-ky" name="_sft_post_tag[]" id="sf-input-26ee3d1b4a349d784b1cc3a19f4c6361">
                        <label class="sf-label-checkbox" for="sf-input-26ee3d1b4a349d784b1cc3a19f4c6361">Hoa Kỳ</label>
                    </li>
                    <li class="sf-level-0 sf-item-94" data-sf-count="1" data-sf-depth="0">
                        <input class="sf-input-checkbox" type="checkbox" value="phap" name="_sft_post_tag[]" id="sf-input-a7bdd3f67b041828e5cc13f242048e2e">
                        <label class="sf-label-checkbox" for="sf-input-a7bdd3f67b041828e5cc13f242048e2e">Pháp</label>
                    </li>
                    <li class="sf-level-0 sf-item-76" data-sf-count="1" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="ha-lan" name="_sft_post_tag[]" id="sf-input-e03d73f9d745772f4cc47228637bc81a">
                        <label class="sf-label-checkbox" for="sf-input-e03d73f9d745772f4cc47228637bc81a">Hà Lan</label>
                    </li>
                    <li class="sf-level-0 sf-item-72" data-sf-count="3" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="canada" name="_sft_post_tag[]" id="sf-input-637d78f3b1696574c8ce7f41d0f4019a">
                        <label class="sf-label-checkbox" for="sf-input-637d78f3b1696574c8ce7f41d0f4019a">Canada</label>
                    </li>
                    <li class="sf-level-0 sf-item-60" data-sf-count="6" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="uc" name="_sft_post_tag[]" id="sf-input-831393f47f5cb14e90e925c21ee69dbb">
                        <label class="sf-label-checkbox" for="sf-input-831393f47f5cb14e90e925c21ee69dbb">Úc</label>
                    </li>
                    <li class="sf-level-0 sf-item-57" data-sf-count="2" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="ao" name="_sft_post_tag[]" id="sf-input-044dc17214094236b93a8de3c9fcf222">
                        <label class="sf-label-checkbox" for="sf-input-044dc17214094236b93a8de3c9fcf222">Áo</label>
                    </li>
                    <li class="sf-level-0 sf-item-22" data-sf-count="57" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="ha-noi" name="_sft_post_tag[]" id="sf-input-a32f8ffe7767e39ed209cae5333591f9">
                        <label class="sf-label-checkbox" for="sf-input-a32f8ffe7767e39ed209cae5333591f9">Hà Nội</label>
                    </li>
                    <li class="sf-level-0 sf-item-23" data-sf-count="0" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="da-nang" name="_sft_post_tag[]" id="sf-input-c9c2c86e84c0cd55b540162cf3217a39">
                        <label class="sf-label-checkbox" for="sf-input-c9c2c86e84c0cd55b540162cf3217a39">Đà Nẵng</label>
                    </li>
                    <li class="sf-level-0 sf-item-24" data-sf-count="42" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="tp-ho-chi-minh" name="_sft_post_tag[]" id="sf-input-464ed18909e3ebc5fde0dd68d425777c">
                        <label class="sf-label-checkbox" for="sf-input-464ed18909e3ebc5fde0dd68d425777c">TP Hồ Chí Minh</label>
                    </li>
                    <li class="sf-level-0 sf-item-26" data-sf-count="0" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="anh" name="_sft_post_tag[]" id="sf-input-dc873d3e7dcf51affcdbaea243aac0a4">
                        <label class="sf-label-checkbox" for="sf-input-dc873d3e7dcf51affcdbaea243aac0a4">Anh</label>
                    </li>
                    <li class="sf-level-0 sf-item-28" data-sf-count="6" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="my" name="_sft_post_tag[]" id="sf-input-d007a084c62bff2ba8a8c39d88059768">
                        <label class="sf-label-checkbox" for="sf-input-d007a084c62bff2ba8a8c39d88059768">Mỹ</label>
                    </li>
                    <li class="sf-level-0 sf-item-45" data-sf-count="7" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="uk" name="_sft_post_tag[]" id="sf-input-04caed62948aba7a1a89f68950afd435">
                        <label class="sf-label-checkbox" for="sf-input-04caed62948aba7a1a89f68950afd435">UK</label>
                    </li>
                    <li class="sf-level-0 sf-item-31" data-sf-count="97" data-sf-depth="0" style="display: none;">
                        <input class="sf-input-checkbox" type="checkbox" value="viet-nam" name="_sft_post_tag[]" id="sf-input-ce7a9293c7663476a075f89994816b88">
                        <label class="sf-label-checkbox" for="sf-input-ce7a9293c7663476a075f89994816b88">Việt Nam</label>
                    </li>		<li class="tag_more"><span class="tag_show">Mở rộng</span>
                </li>
                </ul>
            </li>
            <li class="sf-field-post-meta-khoahoc_dangkyluachon" >
                <h4>Lựa chọn đăng ký</h4>
                <ul class="">
                    <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_dangkyluachon[]" checked="checked" id="sf-input-44119666c75430a02692f8d3ddd27e15">
                        <label class="sf-label-radio" for="sf-input-44119666c75430a02692f8d3ddd27e15">Tất cả lựa chọn</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="Đăng ký trực tuyến" name="_sfm_khoahoc_dangkyluachon[]" id="sf-input-e0f7998516066293c16be78f1df64366">
                        <label class="sf-label-radio" for="sf-input-e0f7998516066293c16be78f1df64366">Đăng ký trực tuyến</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="Đăng ký tư vấn" name="_sfm_khoahoc_dangkyluachon[]" id="sf-input-88c4ceffff17985596b02c9b3793c0f9">
                        <label class="sf-label-radio" for="sf-input-88c4ceffff17985596b02c9b3793c0f9">Đăng ký tư vấn</label>
                    </li>
                    <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                        <input class="sf-input-radio" type="radio" value="Nộp học phí trực tuyến" name="_sfm_khoahoc_dangkyluachon[]" id="sf-input-95fd6ecf886eae2dbddb25d3835e6b6f">
                        <label class="sf-label-radio" for="sf-input-95fd6ecf886eae2dbddb25d3835e6b6f">Nộp học phí trực tuyến</label>
                    </li>
                </ul>
            </li>
            <li class="sf-field-post-meta-khoahoc_hocphi_thgian_hoc">
                <label>
                    <select name="_sfm_khoahoc_hocphi_thgian_hoc[]" class="sf-input-select" title="">

                        <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Thời gian học</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="hchinh">Trong giờ hành chính</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nhchinh">Ngoài giờ hành chính</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="t7cn">Thứ 7, chủ nhật</option>
                    </select>
                </label>
            </li>
            <li class="sf-field-post-meta-khoahoc_thoigian">
                <label>
                    <select name="_sfm_khoahoc_thoigian[]" class="sf-input-select" title="">

                        <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Thời lượng đào tạo</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="1 năm">1 năm</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="1,5 năm">1,5 năm</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2 năm">2 năm</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2,5 năm">2,5 năm</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="3 năm">3 năm</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="3,5 năm">3,5 năm</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4 năm">4 năm</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4,5 năm">4,5 năm</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="5 năm">5 năm</option>
                    </select>
                </label>
            </li>
            <li class="sf-field-post-meta-khoahoc_nhaphoc">
                <label>
                    <select name="_sfm_khoahoc_nhaphoc[]" class="sf-input-select" title="">

                        <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Dự kiến khai giảng</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 1">Tháng 1</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 2">Tháng 2</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 3">Tháng 3</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 4">Tháng 4</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 5">Tháng 5</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 6">Tháng 6</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 7">Tháng 7</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 8">Tháng 8</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 9">Tháng 9</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 10">Tháng 10</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 11">Tháng 11</option>
                        <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 12">Tháng 12</option>
                    </select>
                </label>
            </li>
            <li class="sf-field-sort_order">
                <label>
                    <select name="_sf_sort_order[]" class="sf-input-select" title="">
                        <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Học phí</option>
                        <option class="sf-level-0 " data-sf-depth="0" value="_sfm_khoahoc_hocphi+asc+num">Thấp =&gt; cao</option>
                        <option class="sf-level-0 " data-sf-depth="0" value="_sfm_khoahoc_hocphi+desc+num">Cao =&gt; thấp</option>
                    </select>
                </label>
            </li>
            <li class="sf-field-sort_order" >
                <label>
                    <select name="_sf_sort_order[]" class="sf-input-select" title="">

                        <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Đánh giá khóa học</option>
                        <option class="sf-level-0 " data-sf-depth="0" value="_sfm_ratings_average+asc+num">Thấp =&gt; cao</option>
                        <option class="sf-level-0 " data-sf-depth="0" value="_sfm_ratings_average+desc+num">Cao =&gt; thấp</option>
                    </select>
                </label>
            </li>
            <li class="sf-field-sort_order">
                <label>
                    <select name="_sf_sort_order[]" class="sf-input-select" title="">

                        <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Chương trình phổ biến</option>
                        <option class="sf-level-0 " data-sf-depth="0" value="_sfm_views+asc+num">Thấp =&gt; cao</option>
                        <option class="sf-level-0 " data-sf-depth="0" value="_sfm_views+desc+num">Cao =&gt; thấp</option>
                    </select>
                </label>
            </li>
        </ul>
    </form>
</div>