<footer id="dc_footer">
    <section class="intense content-section dch_nhantin footer-top">
        <div class="intense container  ">
            <div class="section-title text-center">
                <h2 class="intense lead v1_header_title">Đăng ký cơ sở đào tạo của bạn là thành viên của TopCourses</h2>
            </div>
            <p class="text-center">
                <strong>
                    <a class="dch_dklh" href="#" target="_blank" >ĐĂNG KÝ MIỄN PHÍ</a>
                </strong>
            </p>
            <div class="intense row ">
                <div class="intense col-lg-8 col-xs-12 col-sm-12 col-md-10 col-md-offset-2">
                    <div class="dc_doitac swiper-container-horizontal">
                        <div class="swiper-wrapper owl-carousel owl-theme" id="dc_doitac">
                            <div class=" item" >
                                <img src="images/logo44.png" alt="">
                            </div>
                            <div class="item" >
                                <img src="images/logo44.png" alt="">
                            </div>
                            <div class="item" >
                                <img src="images/tennessee-tech-logo-44.png" alt="">
                            </div>
                            <div class="item" >
                                <img src="images/logo44.png" alt="">
                            </div>
                            <div class="item" >
                                <img src="images/tennessee-tech-logo-44.png" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="intense content-section ">
        <div class="intense container  ">
            <div class="intense row footer_row ">
                <div class="footer-25col-logo">
                    <p>
                        <a href="#">
                            <img class="dcf_logo alignnone wp-image-3029 size-full" src="images/TopCourses_logo_color-2.svg" alt="" width="320px" height="100px">
                        </a>
                    </p>
                    <p><img class="dcf_icon alignnone wp-image-1372 size-full" src="images/Phone-4.png" alt="" width="14" height="16">&nbsp;024 3775 7221</p>
                    <p><img class="dcf_icon alignnone wp-image-1371 size-full" src="images/Email-Open.png" alt="" width="16" height="16"> admissions@topcourses.edu.vn</p>
                    <div class="intense lead dcf_icon" style="">
                        <p>
                            <a href="#"><img class="wp-image-3089 size-full alignnone" src="images/facebook.jpg" alt="" width="34" height="30"></a>
                            <a href="#"><img class="wp-image-3091 size-full alignnone" src="images/linkedin.jpg" alt="" width="36" height="30"></a>
                            <a href="#r"><img class="wp-image-3093 size-full alignnone" src="images/youtube.jpg" alt="" width="34" height="30"></a>
                            <a href="#"><img class="wp-image-3092 size-full alignnone" src="images/Google.jpg" alt="" width="32" height="30"></a>
                            <a href="#"><img class="wp-image-3090 size-full alignnone" src="images/zalo.jpg" alt="" width="32" height="30"></a>
                        </p>
                    </div>
                </div>
                <div class="footer-25col-1">
                    <p>
                        <span style="color: #1b6da3;"><strong>TOPCOURSES<br></strong></span>
                        <span style="color: #000000;"><a href="#" target="_blank" rel="noopener">Dành cho học viên</a></span><br>
                        <span style="color: #000000;"> <a href="#" target="_blank" rel="noopener">Dành cho cơ sở đào tạo</a></span><br>
                        <span style="color: #000000;"> <a href="#" target="_blank" rel="noopener">Giới thiệu TopCourses</a></span><br>
                        <span style="color: #000000;"><a href="#" target="_blank" rel="noopener">Tuyển dụng</a></span><br>
                        <span style="color: #000000;"> <a href="#" target="_blank" rel="noopener">Liên hệ</a></span></p>
                </div>
                <div class="footer-25col-2">
                    <p><strong><span style="color: #1b6da3;">TÌM KIẾM</span></strong><br>
                        <a href="#" target="_blank" rel="noopener">Đào tạo trong nước</a><br>
                        <a href="#" target="_blank" rel="noopener">Đào tạo liên kết quốc tế</a><br>
                        <a href="#" target="_blank" rel="noopener">Du học</a><br>
                        <a href="#" target="_blank" rel="noopener">Các chương trình học bổng</a><br>
                        <a href="#" target="_blank" rel="noopener">Danh sách các trường</a></p>
                </div>
                <div class="footer-25col-3">
                    <p>
                        <strong><span style="color: #1b6da3;">TÌM HIỂU THÊM</span></strong><br>
                        <a href="#">Các quy định về giáo dục</a><br>
                        <a href="#">Điều khoản và điều kiện</a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="intense row v1_footer_rights " style="padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; ">
                <div class="intense col-lg-6 col-xs-12 col-sm-12 col-md-6 ">
                    <p><strong>© 2017 TopCourses. All rights reserved.</strong></p>
                </div>
                <div class="intense col-lg-6 col-xs-12 col-sm-12 col-md-6 text-right v1_footer_end ">
                    <p>
                        <img class="hidden alignnone wp-image-1373 size-full" src="images/App-Store_h80.png" alt="" width="268" height="80">
                        <img class="hidden alignnone wp-image-1374 size-full" src="images/Google-Play_h80.png" alt="" width="233" height="80">
                        <img class="alignnone size-medium wp-image-1375" src="images/thong-bao-bo-cong-thuong_h80.png" alt="" width="211" height="80">
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>