<div class="v1_search clearfix ng-scope" ng-app="app">
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <img src="images/quản-lý-kinh-tế.jpeg" alt="Thạc sĩ Quản lý kinh tế - hướng ứng dụng">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Thạc sĩ Quản lý kinh tế - hướng ứng dụng" target="_blank">Thạc sĩ Quản lý kinh tế - hướng ứng dụng</a></h2>
                <h4><a href="#" title="Đại Học Kinh Tế - Đại Học Quốc Gia Hà Nội" target="_blank">Đại Học Kinh Tế - Đại Học Quốc Gia Hà Nội</a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span>0</span>
                        <span id="post-ratings-5403" class="post-ratings" data-nonce="cb22ae3ce7">
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="2 Star" >
                            <img  src="images/rating_off.png" alt="3 Star" >
                            <img  src="images/rating_off.png" alt="4 Star" >
                            <img  src="images/rating_off.png" alt="5 Star" >
                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views">9</div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Năm thành lập:</span> <strong>1974</strong></li>
                    <li><span>Kiểm định:</span> <strong>Bộ GD&amp;ĐT</strong></li>
                    <li><span>Địa chỉ đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>2 năm</strong></li>
                    <li><span>Yêu cầu nhập học:</span> <strong>Thi tuyển đầu vào</strong></li>
                    <li><span>Ngày khai giảng:</span> <strong>Tháng 10</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>24.300.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/thac-si-quan-ly-kinh-te-huong-ung-dung-dh-kinh-te/" title="Thạc sĩ Quản lý kinh tế - hướng ứng dụng" target="_blank">Xem chi tiết »</a>
            </div>
        </div>

    </div>
</div>