<div class="v1_search clearfix ng-scope" ng-app="app">
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <div class="v1_ctdtao_icon"></div>
                <img src="images/xemay-image.jpg" alt="Sửa chữa oto tổng hợp">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Sửa chữa oto tổng hợp" target="_blank">Sửa chữa oto tổng hợp</a></h2>
                <h4><a href="" title="" target="_blank"></a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span></span>
                        <span class="post-ratings" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >

                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views"> 2 </div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Giảng viên:</span> <strong>Mr. Nguyễn Huy Huyến &amp; Mr. Nguyễn Xuân Hường</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>12 tháng</strong></li>
                    <li><span>Địa điểm đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Cấp chứng chỉ:</span> <strong>Có</strong></li>
                    <li><span>Hình thức học:</span> <strong>Tập trung</strong></li>
                    <li><span>Thực tập:</span> <strong>Có</strong></li>
                    <li><span>Cam kết việc làm:</span> <strong>Có</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>15.500.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/khoa_hoc_ngan_han/khoa-hoc-sua-chua-oto-tong-hop-ttdn-thanh-xuan/" title="Sửa chữa oto tổng hợp" target="_blank">Xem chi tiết »</a>
            </div>
        </div>
    </div>
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <div class="v1_ctdtao_icon"></div>
                <img src="images/xemay-image.jpg" alt="Sửa chữa oto tổng hợp">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Sửa chữa oto tổng hợp" target="_blank">Sửa chữa oto tổng hợp</a></h2>
                <h4><a href="" title="" target="_blank"></a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span></span>
                        <span class="post-ratings" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >

                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views"> 2 </div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Giảng viên:</span> <strong>Mr. Nguyễn Huy Huyến &amp; Mr. Nguyễn Xuân Hường</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>12 tháng</strong></li>
                    <li><span>Địa điểm đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Cấp chứng chỉ:</span> <strong>Có</strong></li>
                    <li><span>Hình thức học:</span> <strong>Tập trung</strong></li>
                    <li><span>Thực tập:</span> <strong>Có</strong></li>
                    <li><span>Cam kết việc làm:</span> <strong>Có</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>15.500.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/khoa_hoc_ngan_han/khoa-hoc-sua-chua-oto-tong-hop-ttdn-thanh-xuan/" title="Sửa chữa oto tổng hợp" target="_blank">Xem chi tiết »</a>
            </div>
        </div>
    </div>
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <div class="v1_ctdtao_icon"></div>
                <img src="images/xemay-image.jpg" alt="Sửa chữa oto tổng hợp">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Sửa chữa oto tổng hợp" target="_blank">Sửa chữa oto tổng hợp</a></h2>
                <h4><a href="" title="" target="_blank"></a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span></span>
                        <span class="post-ratings" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >

                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views"> 2 </div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Giảng viên:</span> <strong>Mr. Nguyễn Huy Huyến &amp; Mr. Nguyễn Xuân Hường</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>12 tháng</strong></li>
                    <li><span>Địa điểm đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Cấp chứng chỉ:</span> <strong>Có</strong></li>
                    <li><span>Hình thức học:</span> <strong>Tập trung</strong></li>
                    <li><span>Thực tập:</span> <strong>Có</strong></li>
                    <li><span>Cam kết việc làm:</span> <strong>Có</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>15.500.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/khoa_hoc_ngan_han/khoa-hoc-sua-chua-oto-tong-hop-ttdn-thanh-xuan/" title="Sửa chữa oto tổng hợp" target="_blank">Xem chi tiết »</a>
            </div>
        </div>
    </div>
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <div class="v1_ctdtao_icon"></div>
                <img src="images/xemay-image.jpg" alt="Sửa chữa oto tổng hợp">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Sửa chữa oto tổng hợp" target="_blank">Sửa chữa oto tổng hợp</a></h2>
                <h4><a href="" title="" target="_blank"></a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span></span>
                        <span class="post-ratings" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >

                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views"> 2 </div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Giảng viên:</span> <strong>Mr. Nguyễn Huy Huyến &amp; Mr. Nguyễn Xuân Hường</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>12 tháng</strong></li>
                    <li><span>Địa điểm đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Cấp chứng chỉ:</span> <strong>Có</strong></li>
                    <li><span>Hình thức học:</span> <strong>Tập trung</strong></li>
                    <li><span>Thực tập:</span> <strong>Có</strong></li>
                    <li><span>Cam kết việc làm:</span> <strong>Có</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>15.500.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/khoa_hoc_ngan_han/khoa-hoc-sua-chua-oto-tong-hop-ttdn-thanh-xuan/" title="Sửa chữa oto tổng hợp" target="_blank">Xem chi tiết »</a>
            </div>
        </div>
    </div>
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <div class="v1_ctdtao_icon"></div>
                <img src="images/xemay-image.jpg" alt="Sửa chữa oto tổng hợp">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Sửa chữa oto tổng hợp" target="_blank">Sửa chữa oto tổng hợp</a></h2>
                <h4><a href="" title="" target="_blank"></a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span></span>
                        <span class="post-ratings" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >

                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views"> 2 </div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Giảng viên:</span> <strong>Mr. Nguyễn Huy Huyến &amp; Mr. Nguyễn Xuân Hường</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>12 tháng</strong></li>
                    <li><span>Địa điểm đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Cấp chứng chỉ:</span> <strong>Có</strong></li>
                    <li><span>Hình thức học:</span> <strong>Tập trung</strong></li>
                    <li><span>Thực tập:</span> <strong>Có</strong></li>
                    <li><span>Cam kết việc làm:</span> <strong>Có</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>15.500.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/khoa_hoc_ngan_han/khoa-hoc-sua-chua-oto-tong-hop-ttdn-thanh-xuan/" title="Sửa chữa oto tổng hợp" target="_blank">Xem chi tiết »</a>
            </div>
        </div>
    </div>
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <div class="v1_ctdtao_icon"></div>
                <img src="images/xemay-image.jpg" alt="Sửa chữa oto tổng hợp">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Sửa chữa oto tổng hợp" target="_blank">Sửa chữa oto tổng hợp</a></h2>
                <h4><a href="" title="" target="_blank"></a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span></span>
                        <span class="post-ratings" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >

                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views"> 2 </div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Giảng viên:</span> <strong>Mr. Nguyễn Huy Huyến &amp; Mr. Nguyễn Xuân Hường</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>12 tháng</strong></li>
                    <li><span>Địa điểm đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Cấp chứng chỉ:</span> <strong>Có</strong></li>
                    <li><span>Hình thức học:</span> <strong>Tập trung</strong></li>
                    <li><span>Thực tập:</span> <strong>Có</strong></li>
                    <li><span>Cam kết việc làm:</span> <strong>Có</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>15.500.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/khoa_hoc_ngan_han/khoa-hoc-sua-chua-oto-tong-hop-ttdn-thanh-xuan/" title="Sửa chữa oto tổng hợp" target="_blank">Xem chi tiết »</a>
            </div>
        </div>
    </div>
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <div class="v1_ctdtao_icon"></div>
                <img src="images/xemay-image.jpg" alt="Sửa chữa oto tổng hợp">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Sửa chữa oto tổng hợp" target="_blank">Sửa chữa oto tổng hợp</a></h2>
                <h4><a href="" title="" target="_blank"></a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span></span>
                        <span class="post-ratings" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >

                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views"> 2 </div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Giảng viên:</span> <strong>Mr. Nguyễn Huy Huyến &amp; Mr. Nguyễn Xuân Hường</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>12 tháng</strong></li>
                    <li><span>Địa điểm đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Cấp chứng chỉ:</span> <strong>Có</strong></li>
                    <li><span>Hình thức học:</span> <strong>Tập trung</strong></li>
                    <li><span>Thực tập:</span> <strong>Có</strong></li>
                    <li><span>Cam kết việc làm:</span> <strong>Có</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>15.500.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/khoa_hoc_ngan_han/khoa-hoc-sua-chua-oto-tong-hop-ttdn-thanh-xuan/" title="Sửa chữa oto tổng hợp" target="_blank">Xem chi tiết »</a>
            </div>
        </div>
    </div>
    <div class="v1_search_item" >
        <div class="v1_search_item_info clearfix">
            <div class="v1_search_item_thumb">
                <div class="v1_ctdtao_icon"></div>
                <img src="images/xemay-image.jpg" alt="Sửa chữa oto tổng hợp">
            </div>
            <div class="v1_search_item_infokh">
                <h2><a href="#" title="Sửa chữa oto tổng hợp" target="_blank">Sửa chữa oto tổng hợp</a></h2>
                <h4><a href="" title="" target="_blank"></a></h4>
                <div class="v1_search_item_rvcom">
                    <div class="v1_search_item_rating">
                        <span></span>
                        <span class="post-ratings" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >
                            <img  src="images/rating_off.png" alt="1 Star" >

                        </span> ( đánh giá)
                    </div>
                    <div class="v1_search_item_views"> 2 </div>
                    <div class="v1_search_item_comment">0</div>
                </div>
                <ul class="v1_search_item_list">
                    <li><span>Giảng viên:</span> <strong>Mr. Nguyễn Huy Huyến &amp; Mr. Nguyễn Xuân Hường</strong></li>
                    <li><span>Thời gian đào tạo:</span> <strong>12 tháng</strong></li>
                    <li><span>Địa điểm đào tạo:</span> <strong>Hà Nội</strong></li>
                    <li><span>Cấp chứng chỉ:</span> <strong>Có</strong></li>
                    <li><span>Hình thức học:</span> <strong>Tập trung</strong></li>
                    <li><span>Thực tập:</span> <strong>Có</strong></li>
                    <li><span>Cam kết việc làm:</span> <strong>Có</strong></li>
                </ul>
            </div>
        </div>
        <div class="v1_search_item_reading">
            <div class="v1_search_item_hphi">
                Học phí ưu đãi: <span>15.500.000 ₫</span>
            </div>
            <div class="v1_search_item_more">
                <a href="http://topcourses.edu.vn/khoa_hoc_ngan_han/khoa-hoc-sua-chua-oto-tong-hop-ttdn-thanh-xuan/" title="Sửa chữa oto tổng hợp" target="_blank">Xem chi tiết »</a>
            </div>
        </div>
    </div>
</div>