<div class="search_khnh">
    <div class="search_khnh1">
        <p>Sắp xếp theo</p>
    </div>
    <div class="search_khnh2">
        <p>Gợi ý</p>
    </div>
    <div class="dc_filter_khnh">
        <form method="post" class="searchandfilter" >
            <ul class="dc_filter_3774">
                <li class="sf-field-search" data-sf-field-name="search" data-sf-field-type="search" data-sf-field-input-type="">
                    <label><span class="screen-reader-text">goi_y</span>
                        <input placeholder="Địa điểm / Tên trường" name="_sf_search[]" class="sf-input-text" type="text" value="" title="goi_y" >
                    </label>
                </li>
                <li class="sf-field-post-meta-khnh_hinhthuc" >
                    <label>
                        <select name="_sfm_khnh_hinhthuc[]" class="sf-input-select" title="">
                            <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Hình thức học</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Online">Online</option>
                        </select>
                    </label>
                </li>
                <li class="sf-field-post-meta-khnh_thoiluong" >
                    <label>
                        <select name="_sfm_khnh_thoiluong[]" class="sf-input-select" title="">
                            <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Thời lượng học</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="1 tuần">1 tuần</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="10 buổi">10 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="11 buổi">11 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="12 buổi">12 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="12 ngày">12 ngày</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="12 tháng">12 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="13 buổi">13 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="14 buổi">14 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="15 buổi">15 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="16 buổi">16 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="18 tháng">18 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2 buổi">2 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2 năm">2 năm</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2 ngày">2 ngày</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2 tháng">2 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2,5 tháng">2,5 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="20 buổi">20 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="23 buổi">23 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="24 buổi">24 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="28 buổi">28 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="3 buổi">3 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="3 ngày">3 ngày</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="3 tháng">3 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="35 buổi">35 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4 buổi">4 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4 ngày">4 ngày</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4 tháng">4 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4 tuần">4 tuần</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4.5 tháng">4.5 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="40 buổi">40 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="5,5 tháng">5,5 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="5.5 tháng">5.5 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="6 buổi">6 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="6 ngày">6 ngày</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="6 tháng">6 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="6,5 tháng">6,5 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="7 tuần">7 tuần</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="8 buổi">8 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="8 tháng">8 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="8,5 tháng">8,5 tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="9 buổi">9 buổi</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="9 tháng">9 tháng</option>
                        </select>
                    </label>
                </li>
                <li class="sf-field-post-meta-khnh_hocphi" data-sf-field-name="_sfm_khnh_hocphi" data-sf-field-type="post_meta" data-sf-field-input-type="range-slider" data-sf-meta-type="number">
                    <h4>Học phí</h4>
                    <div data-start-min="0" data-start-max="32000000" data-min="0" data-max="32000000" data-step="1000" data-decimal-places="0" data-thousand-seperator="" data-decimal-seperator="." data-display-values-as="text" data-sf-field-name="_sfm_khnh_hocphi" class="sf-meta-range sf-meta-range-slider">
                        <span class="sf-range-min sf-text-number">0</span><span class="sf-range-values-seperator"> - </span><span class="sf-range-max sf-text-number">32</span>
                        <div class="meta-slider noUi-target noUi-ltr noUi-horizontal noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>
                    </div>
                </li>
                <li class="sf-field-post-meta-khnh_diadiemdaotao" >
                    <h4>Địa điêm học</h4>
                    <label>
                        <select name="_sfm_khnh_diadiemdaotao[]" class="sf-input-select" title="">

                            <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Chọn Tỉnh / Thành phố</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Hà Nội">Hà Nội</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Hà Nội &amp; TP. Hồ Chí Minh">Hà Nội &amp; TP. Hồ Chí Minh</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Hà Nội &amp; Tp.Hồ Chí Minh">Hà Nội &amp; Tp.Hồ Chí Minh</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Hà Nội, Tp.Hồ Chí Minh">Hà Nội, Tp.Hồ Chí Minh</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Hải Phòng">Hải Phòng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Osaka">Osaka</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tokyo">Tokyo</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tp. Hồ Chí Minh">Tp. Hồ Chí Minh</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="TP. Hồ Chí Minh ">TP. Hồ Chí Minh </option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="TP.Hồ Chí Minh">TP.Hồ Chí Minh</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="TP.Hồ Chí Minh, Hà nội">TP.Hồ Chí Minh, Hà nội</option>
                        </select>
                    </label>
                </li>
                <li class="sf-field-post-meta-khnh_diadiemdaotao_quanhuyen" >
                    <label>
                        <select name="_sfm_khnh_diadiemdaotao_quanhuyen[]" class="sf-input-select" title="">

                            <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Chọn Quận / Huyện</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Cầu Giấy">Cầu Giấy</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Đống Đa">Đống Đa</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Higasi Nari Ku">Higasi Nari Ku</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Nam Từ Liêm">Nam Từ Liêm</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận 1">Quận 1</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận 10">Quận 10</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận 3">Quận 3</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận 3, Quận Đống Đa">Quận 3, Quận Đống Đa</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận 7">Quận 7</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận Bình Thạnh">Quận Bình Thạnh</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận Đống Đa">Quận Đống Đa</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận Hà Đông">Quận Hà Đông</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận Hồng Bàng">Quận Hồng Bàng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận Phú nhuận">Quận Phú nhuận</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận Tân bình">Quận Tân bình</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Quận Thanh Xuân">Quận Thanh Xuân</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Taito-ku">Taito-ku</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Thanh Xuân">Thanh Xuân</option>
                        </select>
                    </label>
                </li>
                <li class="sf-field-post-meta-khnh_ngaykhaigiang" >
                    <h4>Dự kiến khai giảng</h4>
                    <label>
                        <select name="_sfm_khnh_ngaykhaigiang[]" class="sf-input-select" title="">

                            <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Chọn tháng</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 1">Tháng 1</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 2">Tháng 2</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 3">Tháng 3</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 4">Tháng 4</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 5">Tháng 5</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 6">Tháng 6</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 7">Tháng 7</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 8">Tháng 8</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 9">Tháng 9</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 10">Tháng 10</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 11">Tháng 11</option>
                            <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 12">Tháng 12</option>
                        </select>
                    </label>
                </li>
                <li class="sf-field-post-meta-khnh_thoigianhoc" >
                    <h4>Thời gian học</h4>
                    <ul data-operator="and" class="">
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Cuối tuần" name="_sfm_khnh_thoigianhoc[]" id="sf-input-b212659a78a0fb2a60f9151de7f592f9">
                            <label class="sf-label-checkbox" for="sf-input-b212659a78a0fb2a60f9151de7f592f9">Cuối tuần</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Ngoài giờ hành chính" name="_sfm_khnh_thoigianhoc[]" id="sf-input-18d20b754969d9e18f0c88aca3bee1cb">
                            <label class="sf-label-checkbox" for="sf-input-18d20b754969d9e18f0c88aca3bee1cb">Ngoài giờ hành chính</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Trong giờ hành chính" name="_sfm_khnh_thoigianhoc[]" id="sf-input-7b03aa392a8a73a131ceb696d30e62c6">
                            <label class="sf-label-checkbox" for="sf-input-7b03aa392a8a73a131ceb696d30e62c6">Trong giờ hành chính</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Trong tuần" name="_sfm_khnh_thoigianhoc[]" id="sf-input-cfef1de721266211556e3c8c90d90aa6">
                            <label class="sf-label-checkbox" for="sf-input-cfef1de721266211556e3c8c90d90aa6">Trong tuần</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Trong tuần &amp; Cuối tuần" name="_sfm_khnh_thoigianhoc[]" id="sf-input-33e353410673279c0b371d0a79c5f3b3">
                            <label class="sf-label-checkbox" for="sf-input-33e353410673279c0b371d0a79c5f3b3">Trong tuần &amp; Cuối tuần</label>
                        </li>
                    </ul>
                </li>
                <li class="sf-field-post-meta-khnh_ngonnguday" >
                    <h4>Ngôn ngữ giảng dạy</h4>
                    <ul data-operator="and" class="">
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Tiếng Anh" name="_sfm_khnh_ngonnguday[]" id="sf-input-982ebc3d59351f84b4df0dbf64d0d577">
                            <label class="sf-label-checkbox" for="sf-input-982ebc3d59351f84b4df0dbf64d0d577">Tiếng Anh</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Tiếng Nhật" name="_sfm_khnh_ngonnguday[]" id="sf-input-1ce80e3bc1fc3fb9686f286e35307542">
                            <label class="sf-label-checkbox" for="sf-input-1ce80e3bc1fc3fb9686f286e35307542">Tiếng Nhật</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Tiếng Việt" name="_sfm_khnh_ngonnguday[]" id="sf-input-2fe3dcd39e9f11d27e7294144201503d">
                            <label class="sf-label-checkbox" for="sf-input-2fe3dcd39e9f11d27e7294144201503d">Tiếng Việt</label>
                        </li>
                    </ul>
                </li>
                <li class="sf-field-post-meta-khnh_trinhdobatdau">
                    <h4>Trình độ bắt đầu</h4>
                    <ul data-operator="and" class="">
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Cơ bản" name="_sfm_khnh_trinhdobatdau[]" id="sf-input-47f3c72883400bd150e171acf691de3d">
                            <label class="sf-label-checkbox" for="sf-input-47f3c72883400bd150e171acf691de3d">Cơ bản</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Sơ cấp" name="_sfm_khnh_trinhdobatdau[]" id="sf-input-c80483db078056516255e8e837b8b418">
                            <label class="sf-label-checkbox" for="sf-input-c80483db078056516255e8e837b8b418">Sơ cấp</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Trình độ tiếng Nhật N5 trở lên" name="_sfm_khnh_trinhdobatdau[]" id="sf-input-a8889776e46b485df9bca96f7698ade2">
                            <label class="sf-label-checkbox" for="sf-input-a8889776e46b485df9bca96f7698ade2">Trình độ tiếng Nhật N5 trở lên</label>
                        </li>
                    </ul>
                </li>
                <li class="sf-field-post-meta-khnh_loaichungchi">
                    <h4>Loại chứng chỉ</h4>
                    <ul data-operator="and" class="">
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_01" name="_sfm_khnh_loaichungchi[]" id="sf-input-693565dc4ea76abc42b6c47a131f0b59">
                            <label class="sf-label-checkbox" for="sf-input-693565dc4ea76abc42b6c47a131f0b59">Ngoại ngữ</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_02" name="_sfm_khnh_loaichungchi[]" id="sf-input-fe1bafc87b8d8dd4800fa1cc2592b627">
                            <label class="sf-label-checkbox" for="sf-input-fe1bafc87b8d8dd4800fa1cc2592b627">Công nghệ thông tin – Truyền thông</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_03" name="_sfm_khnh_loaichungchi[]" id="sf-input-546f4a735929f32b0bf128b86689062c">
                            <label class="sf-label-checkbox" for="sf-input-546f4a735929f32b0bf128b86689062c">Sales – Marketing – PR</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_04" name="_sfm_khnh_loaichungchi[]" id="sf-input-54a87c605ca82a8775eb21044e9d8c88">
                            <label class="sf-label-checkbox" for="sf-input-54a87c605ca82a8775eb21044e9d8c88">Quản trị - Điều hành – Nhân sự</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_05" name="_sfm_khnh_loaichungchi[]" id="sf-input-182b2e150572a8c86f72369ef4377660">
                            <label class="sf-label-checkbox" for="sf-input-182b2e150572a8c86f72369ef4377660">Kế toán – Luật</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_06" name="_sfm_khnh_loaichungchi[]" id="sf-input-f394c88382b091457b9408795f6680f3">
                            <label class="sf-label-checkbox" for="sf-input-f394c88382b091457b9408795f6680f3">Đầu tư – Tài chính</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_07" name="_sfm_khnh_loaichungchi[]" id="sf-input-5d0d1ecba908fbff591b772809f2f9d0">
                            <label class="sf-label-checkbox" for="sf-input-5d0d1ecba908fbff591b772809f2f9d0">Kỹ năng mềm</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_08" name="_sfm_khnh_loaichungchi[]" id="sf-input-53519c3806ecb09e004b9a65a81d93f7">
                            <label class="sf-label-checkbox" for="sf-input-53519c3806ecb09e004b9a65a81d93f7">Ẩm thực – Du lịch – Khách sạn</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_09" name="_sfm_khnh_loaichungchi[]" id="sf-input-5e7061cc1a477131c70e787e0d815629">
                            <label class="sf-label-checkbox" for="sf-input-5e7061cc1a477131c70e787e0d815629">Cơ khí – Điện tử</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_10" name="_sfm_khnh_loaichungchi[]" id="sf-input-c40c58d3f049f1b760b95fa4e2a2ffa2">
                            <label class="sf-label-checkbox" for="sf-input-c40c58d3f049f1b760b95fa4e2a2ffa2">Thời trang – Làm đẹp</label>
                        </li>
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="danhmuckhoahoc_11" name="_sfm_khnh_loaichungchi[]" id="sf-input-9082ed8372898c618b4f22a697e8bdd9">
                            <label class="sf-label-checkbox" for="sf-input-9082ed8372898c618b4f22a697e8bdd9">Nghề phổ thông</label>
                        </li>
                    </ul>
                </li>
                <li class="sf-field-post-meta-khnh_tieuchikhac" >
                    <h4>Các tiêu chí khác</h4>
                    <ul data-operator="and" class="">
                        <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                            <input class="sf-input-checkbox" type="checkbox" value="Bao gồm tài liệu và ăn nhẹ" name="_sfm_khnh_tieuchikhac[]" id="sf-input-1d6e624bcd80d36f22ebfd9015052fbd">
                            <label class="sf-label-checkbox" for="sf-input-1d6e624bcd80d36f22ebfd9015052fbd">Bao gồm tài liệu và ăn nhẹ</label>
                        </li>
                    </ul>
                </li>
                <li class="sf-field-sort_order" data-sf-field-name="_sf_sort_order" data-sf-field-type="sort_order" data-sf-field-input-type="select">
                    <label>
                        <select name="_sf_sort_order[]" class="sf-input-select" title="">
                            <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Theo học phí</option>
                            <option class="sf-level-0 " data-sf-depth="0" value="_sfm_khnh_hocphi+asc+num">Thấp =&gt; cao</option>
                            <option class="sf-level-0 " data-sf-depth="0" value="_sfm_khnh_hocphi+desc+num">Cao =&gt; thấp</option>
                        </select>
                    </label>
                </li>
                <li class="sf-field-sort_order" data-sf-field-name="_sf_sort_order" data-sf-field-type="sort_order" data-sf-field-input-type="select">
                    <label>
                        <select name="_sf_sort_order[]" class="sf-input-select" title="">

                            <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Chương trình nổi bật</option>
                            <option class="sf-level-0 " data-sf-depth="0" value="_sfm_views+asc+num">Thấp =&gt; cao</option>
                            <option class="sf-level-0 " data-sf-depth="0" value="_sfm_views+desc+num">Cao =&gt; thấp</option>
                        </select>
                    </label>
                </li>
                <li class="sf-field-sort_order" data-sf-field-name="_sf_sort_order" data-sf-field-type="sort_order" data-sf-field-input-type="select">
                    <label>
                        <select name="_sf_sort_order[]" class="sf-input-select" title="">

                            <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Đánh giá</option>
                            <option class="sf-level-0 " data-sf-depth="0" value="_sfm_ratings_average+asc+num">Thấp =&gt; cao</option>
                            <option class="sf-level-0 " data-sf-depth="0" value="_sfm_ratings_average+desc+num">Cao =&gt; thấp</option>
                        </select>
                    </label>
                </li>
            </ul>
        </form>
    </div>
</div>