<div class="dc_widget">
    <section id="nav_menu-2" class="widget widget_nav_menu sidebar_widget">
        <h2 class="widget-title widget_title">Danh sách trường</h2>
        <div class="menu-menu-left-container">
            <ul id="menu-menu-left" class="menu">
                <li>
                    <a href="#">Đào tạo liên kết quốc tế</a>
                </li>
                <li>
                    <a href="#">Đào tạo trong nước</a>
                </li>
            </ul>
        </div>
    </section>
    <section id="text-2" class="widget widget_text sidebar_widget">
        <div class="textwidget">
            <form method="post" class="searchandfilter" >
                <ul class="dc_filter_2145">
                    <li class="sf-field-search" data-sf-field-name="search" data-sf-field-type="search" data-sf-field-input-type="">
                        <label>
                            <span class="screen-reader-text">goi_y</span>
                            <input placeholder="Địa điểm / Tên trường" name="_sf_search[]" class="sf-input-text" type="text" value="" title="goi_y" list="goi_y">
                        </label>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_nganhhoc" data-sf-field-name="_sfm_khoahoc_nganhhoc" data-sf-field-type="post_meta" data-sf-field-input-type="select" data-sf-meta-type="choice">
                        <label>
                            <select name="_sfm_khoahoc_nganhhoc[]" class="sf-input-select" title="">

                                <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Ngành học</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_01">Quản trị kinh doanh</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_02">Công nghệ thông tin</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_03">Tài chính - Kinh tế</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_04">Kế toán - Luật</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_05">Du lịch - Khách sạn</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_06">Marketing</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_07">Thời trang</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_08">Ngoại ngữ</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_09">Quản trị dự án</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_10">Điện - Điện tử</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_11">Cơ khí - Xây dựng</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_12">Y tế - Sinh học</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nganhhoc_13">Quản lý tài nguyên - môi trường</option>
                            </select>
                        </label>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_bachoc" >
                        <label>
                            <select name="_sfm_khoahoc_bachoc[]" class="sf-input-select" title="">

                                <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Bậc học</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_chungchi">Chứng chỉ</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_cunhan">Cử nhân</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_kysu">Kỹ sư</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_thacsi">Thạc sĩ</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="bachoc_tiensi">Tiến sĩ</option>
                            </select>
                        </label>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_hocphi">
                        <h4>Học phí</h4>
                        <div data-start-min="0" data-start-max="2235000000" data-min="0" data-max="2235000000" data-step="1000000" data-decimal-places="0" data-thousand-seperator="" data-decimal-seperator="." data-display-values-as="text" data-sf-field-name="_sfm_khoahoc_hocphi" class="sf-meta-range sf-meta-range-slider">
                            <span class="sf-range-min sf-text-number">0</span>
                            <span class="sf-range-values-seperator"> - </span>
                            <span class="sf-range-max sf-text-number">2235</span>
                            <div class="meta-slider noUi-target noUi-ltr noUi-horizontal noUi-background">
                                <div class="noUi-base">
                                    <div class="noUi-origin noUi-connect" style="left: 0%;">
                                        <div class="noUi-handle noUi-handle-lower"></div>
                                    </div>
                                    <div class="noUi-origin noUi-background" style="left: 100%;">
                                        <div class="noUi-handle noUi-handle-upper"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_loaihinh" >
                        <h4>Loại hình đào tạo</h4>
                        <ul class="">
                            <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_loaihinh[]" checked="checked" id="sf-input-169739b3c5f5c6d07ef90419e02b4eac">
                                <label class="sf-label-radio" for="sf-input-169739b3c5f5c6d07ef90419e02b4eac">Tất cả loại hình</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="khoahoc_loaihinh_01" name="_sfm_khoahoc_loaihinh[]" id="sf-input-833fa9e9a81152a2a329612230e429f2">
                                <label class="sf-label-radio" for="sf-input-833fa9e9a81152a2a329612230e429f2">Đào tạo liên kết quốc tế</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="khoahoc_loaihinh_02" name="_sfm_khoahoc_loaihinh[]" id="sf-input-7ebfad51af425bdc56f4a78195c5f005">
                                <label class="sf-label-radio" for="sf-input-7ebfad51af425bdc56f4a78195c5f005">Đào tạo trong nước</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="khoahoc_loaihinh_03" name="_sfm_khoahoc_loaihinh[]" id="sf-input-d3811b6f059cfc440cffe410cc47251f">
                                <label class="sf-label-radio" for="sf-input-d3811b6f059cfc440cffe410cc47251f">Du học</label>
                            </li>
                        </ul>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_hinhthuc">
                        <h4>Hình thức đào tạo</h4>
                        <ul class="">
                            <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_hinhthuc[]" checked="checked" id="sf-input-b33fdfecc52472dd18e5bc23dadebb40">
                                <label class="sf-label-radio" for="sf-input-b33fdfecc52472dd18e5bc23dadebb40">Tất cả Hình thức</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="hinhthuc_01" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-0d4c230bfbe1b57cc0c69f04f15d1c5a">
                                <label class="sf-label-radio" for="sf-input-0d4c230bfbe1b57cc0c69f04f15d1c5a">Chính quy</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="hinhthuc_02" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-21bc6fdb0cb5c1f058ba8e26181c6af3">
                                <label class="sf-label-radio" for="sf-input-21bc6fdb0cb5c1f058ba8e26181c6af3">Từ xa / trực tuyến</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="hinhthuc_03" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-fb1863ee82d1731e80552d2bc2f69a02">
                                <label class="sf-label-radio" for="sf-input-fb1863ee82d1731e80552d2bc2f69a02">Tại chức</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="hinhthuc_04" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-355da78e8d510078762b8c927f43591d">
                                <label class="sf-label-radio" for="sf-input-355da78e8d510078762b8c927f43591d">Liên thông</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="hinhthuc_05" name="_sfm_khoahoc_hinhthuc[]" id="sf-input-355499231e7abe5381bba458928ab305">
                                <label class="sf-label-radio" for="sf-input-355499231e7abe5381bba458928ab305">Văn bằng 2</label>
                            </li>
                        </ul>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_nhaphoc" >
                        <label>
                            <select name="_sfm_khoahoc_nhaphoc[]" class="sf-input-select" title="">
                                <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Thời gian nhập học</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 1">Tháng 1</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 10">Tháng 10</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 11">Tháng 11</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 12">Tháng 12</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 2">Tháng 2</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 3">Tháng 3</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 4">Tháng 4</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 5">Tháng 5</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 5, Tháng 10">Tháng 5, Tháng 10</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 6">Tháng 6</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 7">Tháng 7</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 8">Tháng 8</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 9">Tháng 9</option>
                            </select>
                        </label>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_nhaphoc_note" >
                        <h4>Yêu cầu nhập học</h4>
                        <ul class="">
                            <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_nhaphoc_note[]" checked="checked" id="sf-input-d9f0311d6711e79d2f7c2c0df57300e3">
                                <label class="sf-label-radio" for="sf-input-d9f0311d6711e79d2f7c2c0df57300e3">Tất cả yêu cầu</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="Thi tuyển" name="_sfm_khoahoc_nhaphoc_note[]" id="sf-input-43183cc69fa1937b07769c149f67742c">
                                <label class="sf-label-radio" for="sf-input-43183cc69fa1937b07769c149f67742c">Thi tuyển</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="Thi tuyển đầu vào" name="_sfm_khoahoc_nhaphoc_note[]" id="sf-input-a294e5b85c07860fe7074c80dd7fd498">
                                <label class="sf-label-radio" for="sf-input-a294e5b85c07860fe7074c80dd7fd498">Thi tuyển đầu vào</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="Thi tuyển; Xét tuyển hồ sơ" name="_sfm_khoahoc_nhaphoc_note[]" id="sf-input-2f0de730b856c5fdd504c37ea927f581">
                                <label class="sf-label-radio" for="sf-input-2f0de730b856c5fdd504c37ea927f581">Thi tuyển; Xét tuyển hồ sơ</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="Xét tuyển hồ sơ" name="_sfm_khoahoc_nhaphoc_note[]" id="sf-input-f542e5baac8f0e568093d6a3c0e99c12">
                                <label class="sf-label-radio" for="sf-input-f542e5baac8f0e568093d6a3c0e99c12">Xét tuyển hồ sơ</label>
                            </li>
                        </ul>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_loaihinhtruong" data-sf-field-name="_sfm_khoahoc_loaihinhtruong" data-sf-field-type="post_meta" data-sf-field-input-type="radio" data-sf-meta-type="choice">
                        <h4>Loại hình trường</h4>
                        <ul class="">
                            <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_loaihinhtruong[]" checked="checked" id="sf-input-84642ebe12a00ed4430097d37d214baa">
                                <label class="sf-label-radio" for="sf-input-84642ebe12a00ed4430097d37d214baa">Tất cả loại hình</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="khoahoc_loaihinhtruong_01" name="_sfm_khoahoc_loaihinhtruong[]" id="sf-input-68d7514846788397e36aa36534c20acf">
                                <label class="sf-label-radio" for="sf-input-68d7514846788397e36aa36534c20acf">Công lập</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="khoahoc_loaihinhtruong_02" name="_sfm_khoahoc_loaihinhtruong[]" id="sf-input-eb0432c5ea99776206297fac73b45a57">
                                <label class="sf-label-radio" for="sf-input-eb0432c5ea99776206297fac73b45a57">Bán công</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="khoahoc_loaihinhtruong_03" name="_sfm_khoahoc_loaihinhtruong[]" id="sf-input-50e0605b9c03e0f7f247a328a423ccb4">
                                <label class="sf-label-radio" for="sf-input-50e0605b9c03e0f7f247a328a423ccb4">Dân lập</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="khoahoc_loaihinhtruong_04" name="_sfm_khoahoc_loaihinhtruong[]" id="sf-input-ca71a76f4a485fe8f46e8ca145c9004a">
                                <label class="sf-label-radio" for="sf-input-ca71a76f4a485fe8f46e8ca145c9004a">Tư thục</label>
                            </li>
                        </ul>
                    </li>
                    <li class="sf-field-tag" data-sf-field-name="_sft_post_tag" data-sf-field-type="tag" data-sf-field-input-type="checkbox">
                        <h4>Địa chỉ đào tạo</h4>
                        <ul data-operator="and" class="">
                            <li class="sf-level-0 sf-item-103" data-sf-count="2" data-sf-depth="0">
                                <input class="sf-input-checkbox" type="checkbox" value="singapore" name="_sft_post_tag[]" id="sf-input-dd6a700e87f7a6f830468274f8dbefbe">
                                <label class="sf-label-checkbox" for="sf-input-dd6a700e87f7a6f830468274f8dbefbe">Singapore</label>
                            </li>
                            <li class="sf-level-0 sf-item-96" data-sf-count="0" data-sf-depth="0">
                                <input class="sf-input-checkbox" type="checkbox" value="duc" name="_sft_post_tag[]" id="sf-input-4dd30bc007585a048f9242b637e9af41">
                                <label class="sf-label-checkbox" for="sf-input-4dd30bc007585a048f9242b637e9af41">Đức</label>
                            </li>
                            <li class="sf-level-0 sf-item-95" data-sf-count="0" data-sf-depth="0">
                                <input class="sf-input-checkbox" type="checkbox" value="du-hoc" name="_sft_post_tag[]" id="sf-input-da4a95c65153bb5650e50e0155367223">
                                <label class="sf-label-checkbox" for="sf-input-da4a95c65153bb5650e50e0155367223">Du Học</label>
                            </li>
                            <li class="sf-level-0 sf-item-93" data-sf-count="5" data-sf-depth="0">
                                <input class="sf-input-checkbox" type="checkbox" value="hoa-ky" name="_sft_post_tag[]" id="sf-input-a67d834e1b2e5e70f07f56ad02eceb8a">
                                <label class="sf-label-checkbox" for="sf-input-a67d834e1b2e5e70f07f56ad02eceb8a">Hoa Kỳ</label>
                            </li>
                            <li class="sf-level-0 sf-item-94" data-sf-count="1" data-sf-depth="0">
                                <input class="sf-input-checkbox" type="checkbox" value="phap" name="_sft_post_tag[]" id="sf-input-ceb9505ae691209fa424c9851b0f2570">
                                <label class="sf-label-checkbox" for="sf-input-ceb9505ae691209fa424c9851b0f2570">Pháp</label>
                            </li>
                            <li class="sf-level-0 sf-item-76" data-sf-count="1" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="ha-lan" name="_sft_post_tag[]" id="sf-input-a9867dfccedd67e768072902f543aa6f">
                                <label class="sf-label-checkbox" for="sf-input-a9867dfccedd67e768072902f543aa6f">Hà Lan</label>
                            </li>
                            <li class="sf-level-0 sf-item-72" data-sf-count="3" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="canada" name="_sft_post_tag[]" id="sf-input-684c1e27edfe74bb453de863b7450824">
                                <label class="sf-label-checkbox" for="sf-input-684c1e27edfe74bb453de863b7450824">Canada</label>
                            </li>
                            <li class="sf-level-0 sf-item-60" data-sf-count="6" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="uc" name="_sft_post_tag[]" id="sf-input-390f0589fbba05af0a46d5584b58a4a7">
                                <label class="sf-label-checkbox" for="sf-input-390f0589fbba05af0a46d5584b58a4a7">Úc</label>
                            </li>
                            <li class="sf-level-0 sf-item-57" data-sf-count="2" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="ao" name="_sft_post_tag[]" id="sf-input-6a8d97bff7fe91080e9d511a1f8467d7">
                                <label class="sf-label-checkbox" for="sf-input-6a8d97bff7fe91080e9d511a1f8467d7">Áo</label>
                            </li>
                            <li class="sf-level-0 sf-item-22" data-sf-count="57" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="ha-noi" name="_sft_post_tag[]" id="sf-input-30eaf0fc457e8f9ac707d82278d86caa">
                                <label class="sf-label-checkbox" for="sf-input-30eaf0fc457e8f9ac707d82278d86caa">Hà Nội</label>
                            </li>
                            <li class="sf-level-0 sf-item-23" data-sf-count="0" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="da-nang" name="_sft_post_tag[]" id="sf-input-9431bfbc88d983c7e307d64cd8747660">
                                <label class="sf-label-checkbox" for="sf-input-9431bfbc88d983c7e307d64cd8747660">Đà Nẵng</label>
                            </li>
                            <li class="sf-level-0 sf-item-24" data-sf-count="42" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="tp-ho-chi-minh" name="_sft_post_tag[]" id="sf-input-d481a0cb76a29da481f749bc939a62e6">
                                <label class="sf-label-checkbox" for="sf-input-d481a0cb76a29da481f749bc939a62e6">TP Hồ Chí Minh</label>
                            </li>
                            <li class="sf-level-0 sf-item-26" data-sf-count="0" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="anh" name="_sft_post_tag[]" id="sf-input-012b1e8498a9b074cabfe1d9eace1e17">
                                <label class="sf-label-checkbox" for="sf-input-012b1e8498a9b074cabfe1d9eace1e17">Anh</label>
                            </li>
                            <li class="sf-level-0 sf-item-28" data-sf-count="6" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="my" name="_sft_post_tag[]" id="sf-input-bfc9f398d915958364bed8c114fb60bf">
                                <label class="sf-label-checkbox" for="sf-input-bfc9f398d915958364bed8c114fb60bf">Mỹ</label>
                            </li>
                            <li class="sf-level-0 sf-item-45" data-sf-count="7" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="uk" name="_sft_post_tag[]" id="sf-input-ed0d2b85e4bf953e28e1a6a903db6b7c">
                                <label class="sf-label-checkbox" for="sf-input-ed0d2b85e4bf953e28e1a6a903db6b7c">UK</label>
                            </li>
                            <li class="sf-level-0 sf-item-31" data-sf-count="97" data-sf-depth="0" style="display: none;">
                                <input class="sf-input-checkbox" type="checkbox" value="viet-nam" name="_sft_post_tag[]" id="sf-input-7df550f11fcbae2e609324a56ae7e1d2">
                                <label class="sf-label-checkbox" for="sf-input-7df550f11fcbae2e609324a56ae7e1d2">Việt Nam</label>
                            </li>
                            <li class="tag_more">
                                <span class="tag_less">Thu gọn</span>
                            </li>
                        </ul>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_dangkyluachon">
                        <h4>Lựa chọn đăng ký</h4>
                        <ul class="">
                            <li class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="" name="_sfm_khoahoc_dangkyluachon[]" checked="checked" id="sf-input-47865d9fed843e4298f6606a5f43924f">
                                <label class="sf-label-radio" for="sf-input-47865d9fed843e4298f6606a5f43924f">Tất cả lựa chọn</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="Đăng ký trực tuyến" name="_sfm_khoahoc_dangkyluachon[]" id="sf-input-0f759f29d30de61c8e4cbb9ae61197d1">
                                <label class="sf-label-radio" for="sf-input-0f759f29d30de61c8e4cbb9ae61197d1">Đăng ký trực tuyến</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="Đăng ký tư vấn" name="_sfm_khoahoc_dangkyluachon[]" id="sf-input-28adf3c7a0eae31aff2ccef52dc24ef2">
                                <label class="sf-label-radio" for="sf-input-28adf3c7a0eae31aff2ccef52dc24ef2">Đăng ký tư vấn</label>
                            </li>
                            <li class="sf-level-0 " data-sf-count="-1" data-sf-depth="0">
                                <input class="sf-input-radio" type="radio" value="Nộp học phí trực tuyến" name="_sfm_khoahoc_dangkyluachon[]" id="sf-input-df1d36b3c82bd6c814662aa9778b5741">
                                <label class="sf-label-radio" for="sf-input-df1d36b3c82bd6c814662aa9778b5741">Nộp học phí trực tuyến</label>
                            </li>
                        </ul>
                        </li>
                    <li class="sf-field-post-meta-khoahoc_hocphi_thgian_hoc">
                        <label>
                            <select name="_sfm_khoahoc_hocphi_thgian_hoc[]" class="sf-input-select" title="">

                                <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Thời gian học</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="hchinh">Trong giờ hành chính</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="nhchinh">Ngoài giờ hành chính</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="t7cn">Thứ 7, chủ nhật</option>
                            </select>
                        </label>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_thoigian">
                        <label>
                            <select name="_sfm_khoahoc_thoigian[]" class="sf-input-select" title="">

                                <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Thời lượng đào tạo</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="1 năm">1 năm</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="1,5 năm">1,5 năm</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2 năm">2 năm</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="2,5 năm">2,5 năm</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="3 năm">3 năm</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="3,5 năm">3,5 năm</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4 năm">4 năm</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="4,5 năm">4,5 năm</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="5 năm">5 năm</option>
                            </select>
                        </label>
                    </li>
                    <li class="sf-field-post-meta-khoahoc_nhaphoc">
                        <label>
                            <select name="_sfm_khoahoc_nhaphoc[]" class="sf-input-select" title="">
                                <option class="sf-level-0 sf-item-0 sf-option-active" selected="selected" data-sf-depth="0" value="">Dự kiến khai giảng</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 1">Tháng 1</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 2">Tháng 2</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 3">Tháng 3</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 4">Tháng 4</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 5">Tháng 5</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 6">Tháng 6</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 7">Tháng 7</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 8">Tháng 8</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 9">Tháng 9</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 10">Tháng 10</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 11">Tháng 11</option>
                                <option class="sf-level-0 " data-sf-count="-1" data-sf-depth="0" value="Tháng 12">Tháng 12</option>
                            </select>
                        </label>
                    </li>
                    <li class="sf-field-sort_order" data-sf-field-name="_sf_sort_order" data-sf-field-type="sort_order" data-sf-field-input-type="select">
                        <label>
                            <select name="_sf_sort_order[]" class="sf-input-select" title="">

                                <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Học phí</option>
                                <option class="sf-level-0 " data-sf-depth="0" value="_sfm_khoahoc_hocphi+asc+num">Thấp =&gt; cao</option>
                                <option class="sf-level-0 " data-sf-depth="0" value="_sfm_khoahoc_hocphi+desc+num">Cao =&gt; thấp</option>
                            </select>
                        </label>
                    </li>
                    <li class="sf-field-sort_order" data-sf-field-name="_sf_sort_order" data-sf-field-type="sort_order" data-sf-field-input-type="select">
                        <label>
                            <select name="_sf_sort_order[]" class="sf-input-select" title="">

                                <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Đánh giá khóa học</option>
                                <option class="sf-level-0 " data-sf-depth="0" value="_sfm_ratings_average+asc+num">Thấp =&gt; cao</option>
                                <option class="sf-level-0 " data-sf-depth="0" value="_sfm_ratings_average+desc+num">Cao =&gt; thấp</option>
                            </select>
                        </label>
                    </li>
                    <li class="sf-field-sort_order" data-sf-field-name="_sf_sort_order" data-sf-field-type="sort_order" data-sf-field-input-type="select">
                        <label>
                            <select name="_sf_sort_order[]" class="sf-input-select" title="">

                                <option class="sf-level-0 sf-item-0 sf-option-active" data-sf-depth="0" value="">Chương trình phổ biến</option>
                                <option class="sf-level-0 " data-sf-depth="0" value="_sfm_views+asc+num">Thấp =&gt; cao</option>
                                <option class="sf-level-0 " data-sf-depth="0" value="_sfm_views+desc+num">Cao =&gt; thấp</option>
                            </select>
                        </label>
                    </li>
                </ul>
            </form>
        </div>
    </section>
</div>