<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--Server=171.244.10.27;uid=cuongbx;password=Aa@123456;database=Topcourse.CoreDB;-->
    <add name="CoreConnectionString" connectionString="q92d24SD78Dil0OgfpwRFUuXJeUgeOwIXeeGP025d8mi69QnzVD6Jg+8rDhjYlb50XZ6HgxzzIXQXjzg+BVvBBWbMHkvGwdPiw6038KeYJNj+KK8ucoOfjFWC0l1QpT8" />
    <add name="CoreLogConnectionString" connectionString="2ViDeb7gx7Crz5UT9YVvt8FuwC7M6I6QT8apF0sFnQOpkZgz//ot7uCeXoaCmui9GM6rz5Gj2gLoi/ZqMiBQnbyyblfyxA9p4pBMBr4sDbUmGlTGuGKyHC4kJeKmtyqJ" />
    <!--Server=171.244.10.27;uid=user.topcourse.corelog;password=!@#user.topcourse.corelog)(*;database=Topcourse.CoreLogDB;-->
    <add name="MailServiceConnectionString" connectionString="V8qJiTD2Qviee56DuWPxfXdNdpFKzkdXWmAZ/Txvj6KeuWw0t9Uo5RsUGL1E3VkhJZeSVtfxTcZVdCgmRLJ5pNRqFJFaacNC/jz3GELboNSHZy0sXg3FH+S75gHvK+Lhr8Uf3AkVk97+BDsurEU9V5IS0x5sJkw3WHnX6ka7PC8=" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DOMAIN" value="http://localhost:1993/" />
    <add key="RecaptchaSecretKey" value="6LfIhGMUAAAAAOXGS_YvXt3nq0xzSDcxjSsGaOtT" />
    <add key="RecaptchaSiteKey" value="6LfIhGMUAAAAAMi-kRnJqcBGShegN4VT2th0Ibei" />
    <add key="SECURE_KEY" value="djtk0nm3)(*^^^^!!!!==??#$%" />
    <add key="MediaImageUploadDirectory" value="E:\Bitbucket2\Web.Topcourse\Web.Topcourse\Upload\" />
    <add key="GOOGLE_APP_ID" value="36419099031-mdhtulrjtq4gihueq5citkbbgjjtc1l1.apps.googleusercontent.com" />
    <add key="GOOGLE_APP_KEY" value="hsrPKfY7wn_8xBcwdWIbfQ7z" />
    <add key="GOOGLE_APP_REDIRECT_URIS" value="http://localhost:1993/api/oauth/googlelogincallback" />

    <add key="FACEBOOK_APP_ID" value="204397053744188" />
    <add key="FACEBOOK_APP_KEY" value="cdc101901378eddc43c2d99b3076780f" />
    <add key="RedisConnectString" value="localhost:6379" />
    <add key="MediaUrl" value="http://media.edunet.vn/Media/" />
    <add key="DOMAIN_MEDIA" value="http://media.edunet.vn/Media/News/images/" />

    <add key="vnp_Url" value="http://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
    <add key="querydr" value="http://sandbox.vnpayment.vn/merchant_webapi/merchant.html"/>
    <add key="vnp_TmnCode" value="PTGD0001" />
    <add key="vnp_HashSecret" value="GWVMZUPKYUZZGJMMYMUXSZXMUIHYSRZO" />
    <add key="vnp_Returnurl" value="http://localhost:16262/vnpay_return.aspx" />
    

    <add key="SystemEmail" value="thangnn@1fintech.vn" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/" name=".edunet.vn" timeout="180" cookieless="UseCookies" protection="All" slidingExpiration="true" />
    </authentication>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="180">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISendMailService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mailservice.edunet.vn/Service/SendMailService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISendMailService" contract="MailService.ISendMailService" name="BasicHttpBinding_ISendMailService" />
    </client>
  </system.serviceModel>
</configuration>