<section id="content-section-ctrinh" class="intense content-section">
    <div class="intense container  " style="color: #ffffff;">
        <div class="intense lead v1_header_title" style="color: #ffffff;">Đa dạng chương trình</div>
        <div class="intense lead text-center" >
            <p>TopCourses là website tổng hợp tất cả các chương trình đào tạo trong nước, đào tạo liên kết và đào tạo nước ngoài
                với nhiều hình thức đào tạo: chính quy, trực tuyến, từ xa, tại chức… ở tất cả các trình độ: chứng chỉ, cử nhân, thạc sĩ, tiến sĩ.
                Chúng tôi cung cấp dữ liệu miễn phí về học phí, thông tin về kiểm định, giấy phép và các dữ liệu khác để giúp bạn tìm kiếm khóa học phù hợp và nhanh nhất có thể.
            </p>
        </div>
        <br>
        <div class="row-ddct">
            <div class="tc-ddct tc-ddct-1">
                <p>
                    <a href="images/dc_double_arrow.svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.53" height="10" viewBox="0 0 9.53 10" id="svg-replaced-8" class="dc_svg replaced-svg svg-replaced-8">
                            <path id="_" data-name="»" class="cls-1" d="M1953.4,3030.87l3.28,4.57v0.22l-3.28,4.57h-2.2l2.8-4.68-2.8-4.68h2.2Zm4.05,0,3.28,4.57v0.22l-3.28,4.57h-2.2l2.8-4.68-2.8-4.68h2.2Z" transform="translate(-1951.19 -3030.55)"></path>
                        </svg>
                    </a>&nbsp;
                    <a href="http://topcourses.edu.vn/tag/dttn"><strong>ĐÀO TẠO TRONG NƯỚC</strong></a>
                </p>
            </div>
            <div class="tc-ddct tc-ddct-2">
                <p>
                    <a href="images/dc_double_arrow.svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.53" height="10" viewBox="0 0 9.53 10" id="svg-replaced-9" class="dc_svg replaced-svg svg-replaced-9">
                            <path id="_" data-name="»" class="cls-1" d="M1953.4,3030.87l3.28,4.57v0.22l-3.28,4.57h-2.2l2.8-4.68-2.8-4.68h2.2Zm4.05,0,3.28,4.57v0.22l-3.28,4.57h-2.2l2.8-4.68-2.8-4.68h2.2Z" transform="translate(-1951.19 -3030.55)"></path>
                        </svg>
                    </a>&nbsp;
                    <a href="#"><strong>ĐÀO TẠO LIÊN KẾT QUỐC TẾ</strong></a></p>
            </div>
            <div class="tc-ddct tc-ddct-3">
                <p><strong>
                    <a href="images/dc_double_arrow.svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.53" height="10" viewBox="0 0 9.53 10" id="svg-replaced-10" class="dc_svg replaced-svg svg-replaced-10">
                            <path id="_" data-name="»" class="cls-1" d="M1953.4,3030.87l3.28,4.57v0.22l-3.28,4.57h-2.2l2.8-4.68-2.8-4.68h2.2Zm4.05,0,3.28,4.57v0.22l-3.28,4.57h-2.2l2.8-4.68-2.8-4.68h2.2Z" transform="translate(-1951.19 -3030.55)"></path>
                        </svg>
                    </a>&nbsp;
                    <a href="http://topcourses.edu.vn/tag/dh/">DU HỌC</a>
                </strong></p>
            </div>
        </div>
        <div class="intense lead pattern-gray" style=""></div>
    </div>
</section>