<section id="content-section-876193249" class="intense content-section  dch_ctdaotao" style="  margin-bottom: 0; margin-top: 0; margin-left: 0; margin-right: 0;  padding-top: 25px; padding-bottom:25px; padding-left: 0; padding-right:0; ">
    <div class="intense container  ">
        <div class="intense lead v1_header_title" style="">Chương trình nổi bật</div>
        <div class="v1_ctdtao">
            <div class="v1_ctdtao_item">
                <div class="v1_ctdtao_thumb">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">
                        <img width="380" height="283" src="images/gloucestershire-cu-nhan-ngon-ngu-anh-380x283.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                    </a>
                    <div class="v1_ctdtao_hover">
                        <ul class="v1_ctdtao_hover_cont">
                            <li>Bậc học: Cử nhân</li>
                            <li>Hình thức học: Chính quy</li>
                            <li>Thời gian học: 4 năm</li>
                            <li>Yêu cầu nhập học: Xét tuyển hồ sơ</li>
                        </ul>
                    </div>
                </div>
                <div class="v1_ctdtao_title"><a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">Cử nhân Tiếng Anh &amp; Ngôn ngữ học</a></div>
                <div class="v1_ctdtao_cat"><a href="#" title="University of Gloucestershire">University of Gloucestershire</a></div>
                <div class="v1_ctdtao_kdinh">Kiểm định: QAA</div>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_vcr clearfix">
                    <li class="v1_ctdtao_view">337</li>
                    <li class="v1_ctdtao_com"></li>
                    <li>5
                        <span id="post-ratings-3966" class="post-ratings" data-nonce="f842534d8a">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                        </span>
                    </li>
                </ul>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_price">
                    <li class="">Học phí ưu đãi: <span>339.000.000 ₫</span></li>
                </ul>
                <div class="v1_ctdtao_more">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">XEM CHI TIẾT</a>
                </div>
            </div>
            <div class="v1_ctdtao_item">
                <div class="v1_ctdtao_thumb">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">
                        <img width="380" height="283" src="images/gloucestershire-cu-nhan-ngon-ngu-anh-380x283.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                    </a>
                    <div class="v1_ctdtao_hover">
                        <ul class="v1_ctdtao_hover_cont">
                            <li>Bậc học: Cử nhân</li>
                            <li>Hình thức học: Chính quy</li>
                            <li>Thời gian học: 4 năm</li>
                            <li>Yêu cầu nhập học: Xét tuyển hồ sơ</li>
                        </ul>
                    </div>
                </div>
                <div class="v1_ctdtao_title"><a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">Cử nhân Tiếng Anh &amp; Ngôn ngữ học</a></div>
                <div class="v1_ctdtao_cat"><a href="#" title="University of Gloucestershire">University of Gloucestershire</a></div>
                <div class="v1_ctdtao_kdinh">Kiểm định: QAA</div>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_vcr clearfix">
                    <li class="v1_ctdtao_view">337</li>
                    <li class="v1_ctdtao_com"></li>
                    <li>5
                        <span id="post-ratings-3966" class="post-ratings" data-nonce="f842534d8a">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                        </span>
                    </li>
                </ul>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_price">
                    <li class="">Học phí ưu đãi: <span>339.000.000 ₫</span></li>
                </ul>
                <div class="v1_ctdtao_more">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">XEM CHI TIẾT</a>
                </div>
            </div>
            <div class="v1_ctdtao_item">
                <div class="v1_ctdtao_thumb">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">
                        <img width="380" height="283" src="images/gloucestershire-cu-nhan-ngon-ngu-anh-380x283.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                    </a>
                    <div class="v1_ctdtao_hover">
                        <ul class="v1_ctdtao_hover_cont">
                            <li>Bậc học: Cử nhân</li>
                            <li>Hình thức học: Chính quy</li>
                            <li>Thời gian học: 4 năm</li>
                            <li>Yêu cầu nhập học: Xét tuyển hồ sơ</li>
                        </ul>
                    </div>
                </div>
                <div class="v1_ctdtao_title"><a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">Cử nhân Tiếng Anh &amp; Ngôn ngữ học</a></div>
                <div class="v1_ctdtao_cat"><a href="#" title="University of Gloucestershire">University of Gloucestershire</a></div>
                <div class="v1_ctdtao_kdinh">Kiểm định: QAA</div>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_vcr clearfix">
                    <li class="v1_ctdtao_view">337</li>
                    <li class="v1_ctdtao_com"></li>
                    <li>5
                        <span id="post-ratings-3966" class="post-ratings" data-nonce="f842534d8a">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                        </span>
                    </li>
                </ul>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_price">
                    <li class="">Học phí ưu đãi: <span>339.000.000 ₫</span></li>
                </ul>
                <div class="v1_ctdtao_more">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">XEM CHI TIẾT</a>
                </div>
            </div>
            <div class="v1_ctdtao_item">
                <div class="v1_ctdtao_thumb">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">
                        <img width="380" height="283" src="images/gloucestershire-cu-nhan-ngon-ngu-anh-380x283.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                    </a>
                    <div class="v1_ctdtao_hover">
                        <ul class="v1_ctdtao_hover_cont">
                            <li>Bậc học: Cử nhân</li>
                            <li>Hình thức học: Chính quy</li>
                            <li>Thời gian học: 4 năm</li>
                            <li>Yêu cầu nhập học: Xét tuyển hồ sơ</li>
                        </ul>
                    </div>
                </div>
                <div class="v1_ctdtao_title"><a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">Cử nhân Tiếng Anh &amp; Ngôn ngữ học</a></div>
                <div class="v1_ctdtao_cat"><a href="#" title="University of Gloucestershire">University of Gloucestershire</a></div>
                <div class="v1_ctdtao_kdinh">Kiểm định: QAA</div>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_vcr clearfix">
                    <li class="v1_ctdtao_view">337</li>
                    <li class="v1_ctdtao_com"></li>
                    <li>5
                        <span id="post-ratings-3966" class="post-ratings" data-nonce="f842534d8a">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                        </span>
                    </li>
                </ul>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_price">
                    <li class="">Học phí ưu đãi: <span>339.000.000 ₫</span></li>
                </ul>
                <div class="v1_ctdtao_more">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">XEM CHI TIẾT</a>
                </div>
            </div>
            <div class="v1_ctdtao_item">
                <div class="v1_ctdtao_thumb">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">
                        <img width="380" height="283" src="images/gloucestershire-cu-nhan-ngon-ngu-anh-380x283.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                    </a>
                    <div class="v1_ctdtao_hover">
                        <ul class="v1_ctdtao_hover_cont">
                            <li>Bậc học: Cử nhân</li>
                            <li>Hình thức học: Chính quy</li>
                            <li>Thời gian học: 4 năm</li>
                            <li>Yêu cầu nhập học: Xét tuyển hồ sơ</li>
                        </ul>
                    </div>
                </div>
                <div class="v1_ctdtao_title"><a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">Cử nhân Tiếng Anh &amp; Ngôn ngữ học</a></div>
                <div class="v1_ctdtao_cat"><a href="#" title="University of Gloucestershire">University of Gloucestershire</a></div>
                <div class="v1_ctdtao_kdinh">Kiểm định: QAA</div>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_vcr clearfix">
                    <li class="v1_ctdtao_view">337</li>
                    <li class="v1_ctdtao_com"></li>
                    <li>5
                        <span id="post-ratings-3966" class="post-ratings" data-nonce="f842534d8a">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                        </span>
                    </li>
                </ul>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_price">
                    <li class="">Học phí ưu đãi: <span>339.000.000 ₫</span></li>
                </ul>
                <div class="v1_ctdtao_more">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">XEM CHI TIẾT</a>
                </div>
            </div>
            <div class="v1_ctdtao_item">
                <div class="v1_ctdtao_thumb">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">
                        <img width="380" height="283" src="images/gloucestershire-cu-nhan-ngon-ngu-anh-380x283.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="">
                    </a>
                    <div class="v1_ctdtao_hover">
                        <ul class="v1_ctdtao_hover_cont">
                            <li>Bậc học: Cử nhân</li>
                            <li>Hình thức học: Chính quy</li>
                            <li>Thời gian học: 4 năm</li>
                            <li>Yêu cầu nhập học: Xét tuyển hồ sơ</li>
                        </ul>
                    </div>
                </div>
                <div class="v1_ctdtao_title"><a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">Cử nhân Tiếng Anh &amp; Ngôn ngữ học</a></div>
                <div class="v1_ctdtao_cat"><a href="#" title="University of Gloucestershire">University of Gloucestershire</a></div>
                <div class="v1_ctdtao_kdinh">Kiểm định: QAA</div>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_vcr clearfix">
                    <li class="v1_ctdtao_view">337</li>
                    <li class="v1_ctdtao_com"></li>
                    <li>5
                        <span id="post-ratings-3966" class="post-ratings" data-nonce="f842534d8a">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                            <img src="images/rating_on.png" alt="1 vote, average: 5,00 out of 5" class="post-ratings-image">
                        </span>
                    </li>
                </ul>
                <div class="v1_ctdtao_line"></div>
                <ul class="v1_ctdtao_price">
                    <li class="">Học phí ưu đãi: <span>339.000.000 ₫</span></li>
                </ul>
                <div class="v1_ctdtao_more">
                    <a href="#" title="Cử nhân Tiếng Anh &amp; Ngôn ngữ học">XEM CHI TIẾT</a>
                </div>
            </div>
        </div>
    </div>
</section>