<section id="content-section-1329392823" class="intense content-section  v1_home_hocbong">
    <div class="intense container  ">
        <div class="intense lead v1_header_title" style="">Chương trình học bổng</div>
        <div class="intense row ">
            <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 ">
                <div  class="intense dch_pricing dch_pricing2">
                    <div class="intense pricing-table-section pricing-table-standard text-center ">
                        <h2>HỌC BỔNG 2017</h2>
                        <p>Học bổng MBA – CSU Việt Nam</p>
                    </div>
                    <div class="intense pricing-table-section pricing-table-pricing text-center" >
                        <div><span style="font-size: 46px;">$2.000</span></div>
                    </div>
                    <div class="intense pricing-table-standard text-center">
                        <p><strong>Điều kiện nhận học bổng:</strong></p>
                        <p>Có kết quả thi tiếng Anh xuất sắc<br>
                            <span style="color: #ffffff;">_</span></p>
                        <p>
                            <a href="#" target="_blank" title="Xem chi tiết" class="intense  btn btn-default">Xem chi tiết</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 ">
                <div  class="intense dch_pricing dch_pricing2">
                    <div class="intense pricing-table-section pricing-table-standard text-center ">
                        <h2>HỌC BỔNG 2017</h2>
                        <p>Học bổng MBA – CSU Việt Nam</p>
                    </div>
                    <div class="intense pricing-table-section pricing-table-pricing text-center" >
                        <div><span style="font-size: 46px;">$2.000</span></div>
                    </div>
                    <div class="intense pricing-table-standard text-center">
                        <p><strong>Điều kiện nhận học bổng:</strong></p>
                        <p>Có kết quả thi tiếng Anh xuất sắc<br>
                            <span style="color: #ffffff;">_</span></p>
                        <p>
                            <a href="#" target="_blank" title="Xem chi tiết" class="intense  btn btn-default">Xem chi tiết</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 ">
                <div  class="intense dch_pricing dch_pricing2">
                    <div class="intense pricing-table-section pricing-table-standard text-center ">
                        <h2>HỌC BỔNG 2017</h2>
                        <p>Học bổng MBA – CSU Việt Nam</p>
                    </div>
                    <div class="intense pricing-table-section pricing-table-pricing text-center" >
                        <div><span style="font-size: 46px;">$2.000</span></div>
                    </div>
                    <div class="intense pricing-table-standard text-center">
                        <p><strong>Điều kiện nhận học bổng:</strong></p>
                        <p>Có kết quả thi tiếng Anh xuất sắc<br>
                            <span style="color: #ffffff;">_</span></p>
                        <p>
                            <a href="#" target="_blank" title="Xem chi tiết" class="intense  btn btn-default">Xem chi tiết</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>