<section class="intense content-section  v1_home_ddctrinh v1_home_topsearch" style=" background-color: #1e73a7; margin-bottom: 0; margin-top: 0; margin-left: 0; margin-right: 0;  padding-top: 30px; padding-bottom:30px; padding-left: 0; padding-right:0; ">
    <div class="intense container  ">
        <div class="intense lead v1_header_title" style="">Các ngành học được tìm kiếm nhiều nhất</div>

        <div class="dch_tags">
            <div class="dch_tags_slider swiper-container-horizontal swiper-container-autoheight" role="listbox">
                <div class="swiper-wrapper owl-carousel owl-theme " id="slider-topsearch">
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="swiper-slide swiper-slide-duplicate ">
                            <div class="tags_img">
                                <a href="#" title="Kế toán - Luật">
                                    <img width="80" height="80" src="images/ke-toan.png" class="" alt="Kế toán - Luật">
                                </a>
                            </div>
                            <h4><a href=#" title="Kế toán - Luật">Kế toán - Luật</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>